@use "vars";

// SHARED between all bumpers
.wavey,
.square,
.sawtooth,
.wavey-top,
.square-top,
.sawtooth-top,
.wavey-bottom,
.square-bottom,
.sawtooth-bottom{

    // this needs to always be larger than the graphic's jags
    // which is 25% of it's height
	--overhang:clamp(44px, 4vh, 66px);

    // --scale

	--mask: url(/source/assets/wallpaper/wavey-top.svg);
    --mask-position: center top;
    --scale:1;
    --density:2;

    --vertical-space:calc( (var(--overhang) * 1.5 / var(--scale,1)) + var( --vertical-margin, 0px) );
    
    // we need something like posisiotn relative for the before and after tags to locate properly
    position: relative;

    // color:rgb(237, 231, 221);
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: calc( var(--overhang) / var(--scale,1));
        left:0;
        display: none;
      
        background-color: inherit;
        mask-size: calc(100% / var(--scale,1));
        mask-repeat: repeat-x;
        mask-image: var(--mask);
		mask-position: var(--mask-position);

        // OR 
        // background-color: transparent;
        // background-image: var(--mask);
		// background-position:var(--mask-position);

        // background-repeat: no-repeat;
        // background-size: contain;

        pointer-events: none;
        // opacity: 0.94;
        // filter:brightness(909);

        overflow: hidden;
        overflow: clip;
        //z-index: -1;
    }
}

// TOP WAVEY BITS ONLY
// waves top
.wavey,
.square,
.sawtooth,
.wavey-top,
.square-top,
.sawtooth-top{

    // ensure the waves have space
    
    margin-top:calc( -1 * var(--vertical-space) );
    margin-top:var(--vertical-space) ;
    
    // wavy background and edges
    &::before{
        --mask: url(/source/assets/wallpaper/wavey-top.svg);
        --mask-position: center top;
        // margin-top:-10vh;
        // top:calc( var(--overhang) * -1 );
        // top: calc( var(--overhang) * -1 );
        bottom:calc( 100% - 1px * var(--density,1) );
        display: block;
    }
    
	&.overlap{
		--factor:0.5; 
		margin-bottom: calc( var(--overhang) * var(--factor,1) );
		margin-top: calc( var(--overhang) * var(--factor,1) );
	}
	
	&.overlap-top{
		margin-top: calc( var(--overhang) * var(--factor,1) );
	}

    // if it also has this util class we must also 
    &.bg-children{
        &::before{
            background-color: var(--col-bg);
        }
    }
}

// BOTTOM WAVEY BITS ONLY
// #teaser,
.wavey,
.square,
.sawtooth,
.wavey-bottom,
.square-bottom,
.sawtooth-bottom{

    // ensure the waves have space
    // padding-bottom: calc( var(--overhang) / 2 );
     
    margin-bottom: var(--vertical-space);

    // wavy background and edges
    &::after{
        --mask: url(/source/assets/wallpaper/wavey-bottom.svg);
        --mask-position:center bottom;
        top:calc( 100% - 1px * var(--density,1) );
        display: block;
        // bottom:calc( var(--overhang) * -2 );
    }

	&.overlap{
		--factor:0.5; 
		margin-bottom: calc( var(--overhang) * var(--factor,1) );
	}
	
	&.overlap-bottom{
		margin-bottom: calc( var(--overhang) * var(--factor,1) );
	}
}

// if it inherits a clear background you won't see it
// WHEN MASKED

:is(.wavey, .square, .sawtooth).bg-clear,
.bg-clear :is(.wavey, .square, .sawtooth) {
    &::before,
    &::after{
        background-color: var(--col-bg);
    }
}


:is(
    .wavey,
    .square,
    .sawtooth,
    .wavey-bottom,
    .square-bottom,
    .sawtooth-bottom
) 
+ 
:is(
    .wavey,
    .square,
    .sawtooth,
    .wavey-top,
    .square-top,
    .sawtooth-top
){
    // margin-top:50vh;
}

p.sawtooth,
p.square,
p.wavey{
    margin-top: calc( var(--overhang) * 1 );
	padding: calc(var(--pad) * 2);
	padding-top: calc(var(--pad) * 2);
	padding-bottom: calc(var(--pad) * 2);
	background-color: var(--col-bg);
}

p.wavey-top,
p.square-top,
p.sawtooth-top{
    padding-top: calc(var(--pad) * 2);
    padding-bottom: calc(var(--pad) * 2);
}
p.wavey-bottom,
p.square-bottom,
p.sawtooth-bottom{
    padding-top: calc(var(--pad) * 2);
    padding-bottom: calc(var(--pad) * 2);
}

.sawtooth{
	&::before{  --mask: url(/source/assets/wallpaper/sawtooth-top.svg); }
	&::after{  --mask: url(/source/assets/wallpaper/sawtooth-bottom.svg); }
}
.square{
    --scale:2;
	&::before{  
        // mask-position:center bottom;
        --mask: url(/source/assets/wallpaper/square-top.svg); }
	&::after{  --mask: url(/source/assets/wallpaper/square-bottom.svg); }
}

.x2{
   --scale:2;
}
.x3{
    --scale:3;
}
.x4{
    --scale:4;
}

// shadowed elemeents that area also masked
// will cause the box shadow to be mishaped
// so we instead fall back to using filters
:is(
    .wavey,
    .square,
    .sawtooth,
    .wavey-bottom,
    .square-bottom,
    .sawtooth-bottom,
    .wavey-top,
    .square-top,
    .sawtooth-top
).shadow{
	--opacity:0.33;

    // cancel any existing shadows
    box-shadow: none;
    // box-shadow: var(--shadow);

    // create a filtered box shadow
    transform-style: preserve-3d;
    transform: translateZ(0);


	// filter: 
	// 	drop-shadow( 0px 0px 2px rgba(51, 49, 50, calc( var(--opacity) + 0.01)) )
	// 	drop-shadow( 0px 0px 9px rgba(51, 49, 50, calc( var(--opacity) + 0.02)) )
	// 	drop-shadow( 0px 0px 21px rgba(51, 49, 50, calc( var(--opacity) + 0.02)) )
	// 	drop-shadow( 0px 0px 36px rgba(51, 49, 50, calc( var(--opacity) + 0.03)) )
	// 	drop-shadow( 0px 0px 57px rgba(51, 49, 50, calc( var(--opacity) + 0.04)) );
	
    filter: drop-shadow( 0px 0px 18px rgba(51, 49, 50, calc( var(--opacity))) );

    // &::before{
    //     box-shadow: inherit;
    //    // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // }

    // // ????
    // &::after{
    //     box-shadow: inherit;
    //     //box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // }
}

hr.wavey{
    margin:0;
    height: calc( 3 * var(--overhang) / var(--scale,1));

    &::before{
        bottom:0;
        top:auto;
    }
    &::after{
        top:0;
        bottom:auto;
    }
}

@media screen and (min-width:vars.$min-width-2) {
    .wavey,
    .square,
    .sawtooth,
    .wavey-top,
    .square-top,
    .sawtooth-top,
    .wavey-bottom,
    .square-bottom,
    .sawtooth-bottom {
        --overhang: clamp(88px, 9vh, 99px);
    }
}
@media screen and (min-width:vars.$min-width-1) {
    .wavey,
    .square,
    .sawtooth,
    .wavey-top,
    .square-top,
    .sawtooth-top,
    .wavey-bottom,
    .square-bottom,
    .sawtooth-bottom {
        --overhang: clamp(128px, 12vh, 120px);
    }
}