button,
a.cta{
    z-index: 909;
    position: relative;
    align-self: flex-end;
    justify-self: end;
}

// we need space around the button
.cta{
    margin-top:var(--pad);
    margin-bottom:var(--pad);
    transition: var(--time-quick, 90ms) transform linear;
    &:active{
        transform: 
            translateY(5%)
            scale( 0.98 );
    }
}

button,
input[type=checkbox],
input[type=radio]{
    --size:44px;
    // Add if not using autoprefixer
    -webkit-appearance: none;
    // Remove most all native input styles 
    appearance: none;
    border:0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: 0;
    min-width: var(--size);
    min-height: var(--size);
    pointer-events: auto;

    transition: 
        var(--time-quick, 90ms) background-color linear,
        var(--time-quick, 90ms) border-color linear;

    &:hover{
        cursor: pointer;
        // background-color: var(--col-accent);
    }

    &:focus-visible{
        background-color:var(--col-orange);
    }
}

fieldset label{
    display:inline-grid;
    grid-template-areas:
        "icon" 
        "text"
    ;
    
    gap:calc( var(--pad) / 4 );
    grid-template-columns: 1fr;
    grid-template-rows: 
        1fr 
        auto;

    align-items: center;        
    justify-items: center;
    text-align: center;
    line-height: 1.1;
    padding: 0;

    > * {
        grid-area: text;
    }
    > span{
        grid-area: icon;
    }

    // FIX: for aspect ratio to remain the same irregardless of width...
    // &::after{
    //     content:'';
    //     padding-bottom:100%;
    //     grid-area:1/1/-1/-1;
    //     height:0;
    //     overflow: hidden;
    // }
}

input[type=checkbox]{
    box-sizing: border-box;
}

input[type=radio]{
    --size:80px;//44px;
  
    border:calc( var(--size) / 8 ) solid var(--col-stone);
    // border: 0.15em solid currentColor;
    border-radius: 999px;
    box-sizing: border-box;
    // transform: translateY(-0.075em);

    grid-area:icon; //1/1/-1/-1;
    display: inline-grid;
    place-content: center;
    
    $easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    $easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
    transition: 
        opacity var(--time-quick, 90ms) linear,
        border-width var(--time-quick, 90ms) #{$easeInBack}; 

    &:checked{
        background-color: var(--col-plum);
        border-color:var(--col-accent);
    }

    &:focus-visible{
        background-color:var(--col-blue);
    }

    &:checked:focus-visible{
        background-color:var(--col-blue);
    }

    &:hover{
        border-color:var(--col-accent);
    }

    &:active{
        border-width:calc( var(--size) / 4 )
    }
}

label{
    input[type=radio]{
        // height: 100%;
    }
    span{
        pointer-events: none;
        position: relative;
    }
}

@supports(selector(:has(p))) {

    label:has(input:checked){

        input[type=radio]{
            background-color: var(--col-accent);
        }

        &::before,
        &::after,
        span{
            color:var(--col-white,white);
        }
    }

}


a.back-to-top{
    position: fixed;
    top:0;//1px;
    right:var(--pad);
    justify-self: end;
    // margin-top:1px;
    margin-bottom:1px;
}

a.back-to-top,
a.skip-to-content{
    z-index: 1;
    display: grid;
    grid-template-columns: 0 1fr;
    font-size: 0;
    padding:calc(var(--pad) / 4);
    overflow: hidden;
    overflow: clip;
    color: transparent;

    &::after{
        content:'';
        order:-99;
        min-width: 44px;
        min-height: 44px;
        display: inline-block;
        vertical-align: middle;
        background-image: url(/source/assets/icons/up-chevron.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        filter: invert(100%) contrast(92%);
        // transition: 
        //     var(--time-quick, 90ms) opacity ease-in-out,
        //     var(--time-quick, 90ms) transform ease-in-out;
    }

    &:hover::after,
    &:active::after{
        // transform: translateY(-100%);
        animation: BackToTop 0.42s ease-in-out;
    }   
}

a.skip-to-content{
    background-color: var(--col-accent);
    min-height: 100%;
    box-sizing: content-box;
    padding-top:0;
    padding-bottom:0;
        
    &::after{
        background-image: url(/source/assets/icons/down-chevron.svg);
    }

    &:hover{
       
    }

    &:hover::after,
    &:active::after{
        animation: BackToTop 0.66s ease-in-out reverse;
    }
}


@media screen and (min-width:900px) {
    
    a.back-to-top{
        grid-template-columns: auto 1fr;
        font-size: inherit;
        padding:var(--pad);
        &::after{
            display: none;
        }
    }
}

#toggle-midi{
    background-image:url("../logos/midi-association.svg");
    z-index: 1;
    position: absolute;
    bottom:var(--pad);
    left:var(--pad);
    width: fit-content;
}

#button-text-size-decrease{
    background-image:url("../icons/font_decrease_filled.svg");
}

#button-text-size-increase{
    background-image:url("../icons/font_increase_filled.svg");
}


label[for="timbre-sine"]{
    &::before{
        content:'';
        color: inherit;
       
        grid-area:icon;
        width:22px;
        height:22px;
        // background-color: currentColor;
        border-radius: 99px;
        border: 4px solid currentColor;
        z-index: 1;
        box-sizing: border-box;
    }
}

label[for="timbre-square"]{
    &::before{
        content:'';
        color: inherit;
       
        grid-area:icon;
        width:22px;
        height:22px;
        background-color: currentColor;
        // border: 4px solid currentColor;
        z-index: 1;
        box-sizing: border-box;
    }
}

label[for="timbre-triangle"]{
    &::before{
        content:'';
        color: inherit;
       
        grid-area:icon;
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 22px solid currentColor;
        // background-color: currentColor;
        z-index: 1;
        box-sizing: border-box;
    }
}

label[for="timbre-sawtooth"]{
    &::before,
    &::after{
        content:'';
        color: inherit;
        grid-area:icon;
        z-index: 1;
        box-sizing: border-box;
        width: 0;
        height: 0;
        border-bottom: 22px solid currentColor;
        border-left: 22px solid transparent;
        padding:0;
    }
    &::before{
        transform: translateX(-50%);
    }

    &::after{
        transform: translateX(50%);
    }
}
