@use "_vars.scss";

#circle-of-fifths-sythnesizer{
    z-index: 99999;
    pointer-events: none;
    touch-action: none;
    position: relative;
}

// DIV wrapper for SVG and FORM
.instrument-circular{
    scroll-snap-type: y proximity;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    margin-top: -40px;
    
    display: grid;
    // display: block;
    align-items: end;
    touch-action: none;
   
    grid-template-areas:
        "caption"
        "interactive"
        "toggles";
   
    grid-template-rows: 
        1fr
        auto
        auto;

    > *{
        grid-area: 1/1/-1/-1;
        // pointer-events: none;
    }

    label,input, button, a{
        pointer-events: all;
    }
    figcaption{
        grid-area: caption;
    }
    svg{
        grid-area: interactive;
        border-radius: 100%;
        position: relative;
        z-index: 1;
    }

    form{
        // pointer-events: all;
        grid-area: toggles;
        display: flex; 
        justify-content: space-between;
        gap: var(--pad);
    }
    
    fieldset{
        // pointer-events: all;
        border: 0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        gap:var(--pad);
        justify-content: center;
    }

    legend{
        order:99;
        margin: 0 auto;
    }

    text{
        font-family: inherit;
    }

    .fifths-emotion-text{
        // we have a hit area below it
        pointer-events: none;
        font-family: 'noto-emoji', 'Noto Emoji', sans-serif;
    }
}


#emotion{
    fieldset{
        align-items: center;
    }
}


// try to align these to the right
// form that overlays the fifths circle
.emotion-selector{
    border-radius: var(--curve, 4px);
    overflow: hidden;
    position: relative;
   
    pointer-events: none;
    margin:0;
    margin-left:var(--pad);
    margin-right:var(--pad);
    display: flex;
    flex-wrap: wrap;
    // justify-content: flex-end;
    align-items: center;
    justify-content: center;

    gap:var(--gap, var(--pad, 1rem));

    .button-close{
        position: absolute;
        top:0;
        right:calc( var(--pad) * 1.5 );
        z-index: 909;
        pointer-events: all;
    }
    a{
        pointer-events: auto;
    }
    // padding: var(--pad);
    // padding-top: calc( var(--pad) * 2 );
    // &::before{
    //     content: '';
    //     background-color: var(--col-bg);
    //     inset:0;
    //     position: absolute;
    //     opacity: 0.9;
    //     z-index: 0;
    // }
    fieldset{
        position: relative;
        pointer-events: auto;
        z-index: 1;
        margin:0;
        // border-radius: 0;
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(66px, 1fr));
        
        gap:var(--pad);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
        align-items: start;
        
        label::first-of-type,
        output{
            grid-area:1/1/-1/0;
        }

        label{
            // <3 Ana Tudor : https://codepen.io/thebabydino/pen/OPJOepJ?editors=1100

            // for 3 equal columns, out of 100%, 
            // we subtract the 2 (= 3 - 1) grid gaps and divide by 3 
            // flex: 1 1 calc((100% - 2 * var(--pad) ) / 3);

            // for 2 equal columns, out of 100%, 
            // we subtract the 1 (= 2 - 1) grid gaps and divide by 2  
            // &:nth-child(3n):nth-last-child(2), 
            // &:nth-child(3n + 1):last-child {
            //     flex-basis: calc(50% - .5 * var(--pad) ); 
            // }
        }
    }
    
    // try to prevent wrapping...
    .octave-selector{
        flex-wrap: nowrap;
    }
}

// When wider, we overlay certain elements
@media screen and (min-width:vars.$min-width-1){
    .instrument-circular{
        fieldset{
            border: 0;
            display: flex;
            flex-direction: row;
        }
       
        
/*
        // 
        .emotion-selector{
            label:first-of-type{
                transform: translateY(70px);
            }
            label:nth-of-type(2){
                transform: translateY(10px);
            }

            .octave-selector{
                display: flex;
                //flex-direction: row-reverse;
                flex-wrap: wrap;//-reverse;
    
                label:first-of-type{
                    transform: translateY(0px);
                }
                label:nth-of-type(2){
                    transform: translateY(70px);
                }
                label:nth-of-type(3){
                    transform: translateY(115px);
                }       
            }
        }
        */
        // if we have support for circular masking...
        // we can use the curve of the SVG to smoothly
        // wrap the text around the circle
        @supports ( shape-outside: circle(50%)){
            svg{
                float: left;
                shape-outside: circle(50%);
                // margin-right:var(--pad);
            }
        }
        
    }
}


// parent figure wrapper
#circular-synthesizer{
    // margin-top: var(--pad);

    // how much space before we show the controls
    padding-bottom: calc( 4 *var(--pad) );
    pointer-events: none;
    border-radius: 9999px;
    overflow: hidden;
    overflow: clip;
}

// SVG
svg.circle-of-fifths {
    pointer-events: all;
    // try to always give space for the keyboard at the base
    max-height : var(--visible-height-fallback);
    max-height : var(--visible-height);
   
    margin: auto;

    background-color: var(--col-stone-light);
    background-color:color-mix(in srgb, var(--col-stone-light) 66%, transparent);

    path{
        transition: fill var(--time-quick, 90ms) linear;
        fill:var(--col-accent);
        cursor: pointer;
        pointer-events: auto;
        // try to improve GPU performance
        will-change: fill;
    }

    path:focus{
        stroke:var(--col-accent);
        stroke-width:4px;
        outline: none;
    }

    textPath{
        color:var(--col-accent);
    }

    // .circle-of-fifths-harmonies{
    //     path:active{
    //         stroke:var(--col-white);
    //         // fill:var(--col-white);
    //         animation: Throb 1s ease-out 0s infinite both alternate;
    //     }
    // }

    .circle-of-fifths-harmonies,
    .circle-of-fifths-tonics{
       
        path:hover{
            stroke:var(--col-white);
            stroke-width:2px;
            // fill:var(--col-white);
            animation: Throb 0.8s cubic-bezier(.4,0,.2,1) 0s infinite both alternate;
        }
        path:active{
            animation: Peak 0.1s cubic-bezier(.4,0,.2,1) 0s infinite both;
        }
    }

    .fifths-frame{
        fill:var(--col-plum);
    }

    .fifths-emotion{
        user-select: none;
        touch-action: none;
        border-radius: 99%;
        fill:var(--col-warm-grey-light);
    }
    text{
        color:currentColor;
    }
}

.curved-text-tone{
    text-transform: capitalize;
}

.curved-text-frequency{
    text-transform: capitalize;
}

.curved-text-timbre{
    text-transform: capitalize;
}