details{
    margin-top: var(--pad);
    border-radius: var(--curve, 4px);
    background-color: var(--col-stone-light);
    box-shadow: var(--shadow);
    
    summary{
        // display: grid;
        // grid-template-columns: 1fr 44px;
        // grid-template-areas: "summary icon";
        display: grid;
        grid-auto-flow: column;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        flex-wrap: wrap;
        
        cursor: pointer;
        background-color: var(--col-stone-light);
        color:var(--col-red);
        padding: var(--pad) calc(var(--pad)/2) var(--pad)  var(--pad) ;
        font-weight:bold;

        border-radius: var(--curve, 4px);
        
        border:var(--stroke,1px) solid var(--col-accent);

        &::after{
            content:'';
            background-image: url(../icons/down-chevron.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            transition:
                transform var(--time-medium, 90ms) ease-in-out,
                color var(--time-long, 90ms) ease-in-out,
                background-color var(--time-long, 90ms) ease-in-out;
            width:44px;
            height:44px;
            // grid-area: icon;
            margin-left: auto;
            filter: invert(20%) sepia(32%) saturate(7261%) hue-rotate(330deg) brightness(88%) contrast(105%);
        }

        img{
            // red
            // filter: brightness(0) saturate(100%) invert(14%) sepia(84%) saturate(5648%) hue-rotate(338deg) brightness(86%) contrast(92%);
            // plum
            filter: brightness(0) saturate(100%) invert(19%) sepia(25%) saturate(2312%) hue-rotate(299deg) brightness(95%) contrast(93%);
            order:-1;
        }
        img:last-of-type{
            margin-right:calc(var(--pad) / 4 );
        }
    }


    > *:not(summary){
        padding: var(--pad);
        padding-top: 0;
        background-color: inherit;
        margin-left: auto;
        margin-right: auto;
    }

    > img{
        border-radius: var(--curve);
        overflow: hidden;
    }
}


details:hover{
    summary{
        background-color: var(--col-accent);
        color:var(--col-stone-light);
        
        &::after{    
            filter: invert(100%) sepia(18%) saturate(2%) hue-rotate(349deg) brightness(111%) contrast(101%);
        }
        
        img{
            filter:invert(100%);
        }
    }
}

@supports (interpolate-size: allow-keywords) {
    :root {
      interpolate-size: allow-keywords;
    }
  
    [open]::details-content {
      height: auto;
    }
}


details[open]{

    &::details-content {
        display: block;
        opacity: 1;
    }

    // border:2px solid var(--col-accent);
    // border-radius: var(--curve, 4px);
    padding-bottom: var(--pad);

    summary{
        background-color: var(--col-red);
        color:var(--col-stone);
        border-width: 0;
        margin-bottom: var(--pad);

        animation:Fade var(--time-medium) linear 0s 1 both;

        &::after{    
            transform: rotate(180deg);
            filter: invert(100%) sepia(18%) saturate(2%) hue-rotate(349deg) brightness(111%) contrast(101%);
        }
        
        img{
            filter:invert(100%);
        }
    }
}


// all but firefox!
@supports (not(-moz-appearance:none)) {
    details {
        // CSS Property
        &::details-content {
            display: none;
            opacity: 0;
            transition: opacity var(--time-long) linear;
            padding: var(--pad) calc(var(--pad)/2);
            // animate in
            
            transition: 
                height 0.5s ease, 
                content-visibility 0.5s ease allow-discrete;
            height: 0;
            overflow: clip;
        }
        > ::marker{
            content:'';
            display: none;
        }

        > ::-webkit-details-marker { 
            display:none; 
        }
    }
}