// OXANIUM (Brand font) ------------------------------------------------
@use "./fonts/oxanium.scss";

// ROYAL SOCIETY -------------------------------------------
@use "./fonts/metropolis.scss";

// Emoticons & musical artifacts
@use "./fonts/noto.scss";


// DSYLEXIA ------------------------------------------------
@use "./fonts/open-dyslexic.scss";

// DISPAXIA ------------------------------------------------
@use "./fonts/readex-pro.scss";


.font-emoji{
    font-family: 'noto-emoji';
}

// Custom fonts for accessibility --------------------------
html,
[data-font="default"] {
    // use proxima *only* if installed on system otherwise use metropolis
    font-family: 'Proxima Nova', var(--font-family-metropolis), sans-serif;
    letter-spacing: 0.003px;
    font-weight: lighter;
}

[data-font="dsylexic"]{
    font-family: 'OpenDyslexic', 'Proxima Nova', var(--font-family-metropolis), sans-serif;
    // letter-spacing: 0.003px;
    // font-weight: lighter;
    font-size:85%;
    --font-zoom:0.85;
}

[data-font="readable"]{
    font-family: 'ReadexPro', 'Proxima Nova', sans-serif;
    font-weight: normal;
    // letter-spacing: 0.003px;
}
[data-font="brand"]{
    font-family: 'Oxanium', sans-serif;
    font-weight: normal;
}



// we force inline SVG text to take any of our loaded fonts, brand first
.oxanium,
svg text{
    font-family: 'Oxanium', 'ReadexPro', 'Proxima Nova', var(--font-family-metropolis), sans-serif;
}