.gallery{
    --gadget-size: 22px;
    // background-color: var(--col-white);
    

    form[method=dialog]{
        background-color:inherit;
    }

    form[method=dialog] button[type=submit]{
        z-index: 1;
      
        color:inherit;
        padding-top:calc(1.32 * var(--pad));
        padding-right: 55px;
    }

    input[type="radio"].gallery-image-toggle{
        position: absolute;
        top: 0;
        left: 0;    
        width: 100%;
        height: 100%;
        border-radius: 0;
        z-index: 1;
        border-color: transparent;
        background-color: transparent;
        &:hover, &:focus-visible {
            border-color: var(--col-accent) ;
            // filter: opacity(0.9);
            // transform: scale(1.04);
        }
    }
    button{
        z-index: 2;
        color:transparent;
        // mix-blend-mode: exclusion;
        // filter: invert(1);
        transition: color var(--time-quick) linear;
        box-sizing: border-box;

        line-height: 1.2;;
        font-weight: 900;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: min(var(--gadget-size), 5vw);
           
        &:active{
            filter: opacity(0.9);
            // transform: scale(1.04);
        }

        // inverted icon overlay
        &::after{
            content: '';
            position: absolute;
            inset:0;
            background: inherit;
            background-color: transparent;
            filter:invert(1);
            // transform: scale(1.1);
            transform-origin: center;
            // opacity: 0;
            margin-left: -3px;
            margin-top: -3px;
        }
        
        &:active, 
        &:hover, 
        &:focus-visible{
            color:var(--col-white);
            border-color: var(--col-accent);
            background-color: var(--col-accent);
            text-shadow: 2px 2px 0 var(--col-black);//, -1px -1px 2px var(--stroke), 1px -1px 2px var(--stroke), -1px 1px 2px var(--stroke);
       
            // text-shadow: 1px 1px 2px var(--stroke), -1px -1px 2px var(--stroke), 1px -1px 2px var(--stroke), -1px 1px 2px var(--stroke);
            &::after{
                opacity: 1;
            }
        }
    }

    .gallery-grid {

        --size:min( 90px, calc( (100vw - 2 * var(--pad)) / 13 ) );
        --aspect-ratio: 16/9;
        display: grid;

        width: 100%;
        // max-width:100vw;
        
        box-sizing: border-box;

        grid-template-columns: repeat(auto-fill, minmax(var(--size), 1fr));
        // grid-template-columns: repeat(auto-fill, auto);
        grid-auto-rows: minmax( calc(var(--size) / var(--aspect-ratio,1)), 50vw);
        grid-auto-rows: minmax( auto, calc(var(--size) / var(--aspect-ratio,1)));
        grid-auto-rows: minmax( calc(var(--size) / var(--aspect-ratio,1)), calc(var(--size) * var(--aspect-ratio,1)) );
        grid-auto-rows: minmax( var(--size), auto );
        // grid-auto-rows: minmax( max(5vw, 150px), auto);
    
        gap: var(--gap, 2px);
        padding: var(--pad);
        grid-auto-flow: dense;

        
        .gallery-figure{
            padding:0;
            // position: absolute;
            // inset: 0;
            position: absolute;
            inset:0;
            
            display: grid;
        }
    }

    .gallery-grid-item {
        --aspect-ratio:calc( var(--width) / var(--height) );
        
        width: var(--width, 100% );
        height: var(--height, 100% );

        display: flex;
        // align-items: center;
        // justify-content: center;
        // outline:1px solid black;

        //background-color: #03afff;
        //border-radius: 4px;
        transition: transform 0.3s ease-in-out;

        position: relative;
        &:hover {
            // filter: opacity(0.9);
            // transform: scale(1.04);
        }

    }

    // Picture
    .gallery-image{
        // transform: translateY(50%);
        // margin-top: -50%;
        

        max-width: 100%;
        max-height: 100%;
        position: absolute;
        inset: 0;

        // actual image
        img{
            object-fit: fill;
            object-fit: cover;
            object-position: var(--object-position-x,50%) var(--object-position-y,50%); 

    
            border-radius: 0;
            border:1px solid currentColor;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // height: auto;
            // max-height:100dvh;
            // max-height:100dvh;
            // user-select: none;
            // pointer-events: none;
        }
    }

    .gallery-image-caption{
        margin:0;
        padding: 2px var(--pad);
        font-size: 85%;
        line-height: 1.2;
        font-style: italic;
        z-index: 2;
        position: absolute;
        bottom: calc( var(--pad) * 0.5 );
        left: 50%;
        right: 0;
        width: fit-content;
        transform: translateX(-50%);
        pointer-events: none;
    }

    .gallery-image-button-previous{
        // position: absolute;
        // top:var(--pad);
        // left:var(--pad);
        // background-image: url(/source/assets/icons/arrow_back.svg);
        // background-image: url(/source/assets/icons/fast_rewind_black_24dp.svg);
        background-image: url(/source/assets/icons/keyboard_double_arrow_left.svg);
        background-position: left var(--pad) center;
        
        padding: var(--pad);
        
        padding-left:55px;
        text-align: left;
        grid-area: previous;
        // max-width: clamp( var(--gadget-size),33%,15rem);
    }

    .gallery-image-button-next{
        // background-image: url(/source/assets/icons/arrow_back.svg);
        // background-image: url(/source/assets/icons/fast_forward_black_24dp.svg);

        --grid:1px;
        background-color: transparent;
        background-image: url(/source/assets/icons/keyboard_double_arrow_right.svg);
        // background-image: 
        //     url(/source/assets/icons/keyboard_double_arrow_right.svg),
        //     repeating-linear-gradient(
        //         45deg,
        //         var(--col-accent) 0px, var(--col-accent) var(--grid),
        //         transparent var(--grid), transparent calc(2 * var(--grid))
        //     );
        background-position: right var(--pad) center;
        background-repeat: no-repeat, repeat;
    
        overflow: hidden;
        padding: var(--pad);
        padding-right:55px;
        text-align: right;
        // max-width: clamp( var(--gadget-size),33%,15rem);
        grid-area: next;
        // margin-left: auto;
    }

    form[method=dialog] .gallery-image-button-close{
        // grid-area: close;
        z-index: 1;
        grid-area: 1/1/-1/-1;
        background-image: url(/source/assets/icons/close.svg);
        background-position:top calc( 1.38 * var(--pad) ) right calc( var(--gadget-size) * 1.4 );
        background-size: var(--gadget-size);
        text-align: right;
        padding: var(--pad);
        color:transparent;
        display: flex;
        justify-content: end;
        text-shadow: 2px 2px 0 var(--col-black);

        &::before{
            content:'';
            position: absolute;
            top:0;
            right:0;
            width:calc(6ch + 88px);
            height:66px;
            display: block;
            filter: none;
            z-index: -1;
            border-radius: var(--curve, 4px);
            
        }

        &::after{
            background: inherit;
            // background-position: inherit;
            background-color: transparent;
            position: absolute;
            top:0;
            right:0;
        }
        &:hover::before, 
        &:focus-visible::before{
            filter: none;
            background-color: var(--col-accent);
            color:var(--col-white);
            
        }
    }

    .gallery-image-button-fullscreen{
        grid-area: fullscreen;
        // background-color: transparent;
        //color: transparent;
        background-position: left calc(var(--pad)) center;
        background-repeat: no-repeat;
        background-size: var(--gadget-size);
        padding-left:calc( var(--gadget-size) * 0.5 );
        min-height:66px;
        background-image: url(/source/assets/icons/fullscreen.svg);
    }

    .lightbox{

        border-radius: 12px;
        background-color: var(--col-white);

        menu{
            position: absolute;
            inset:0;
            padding:calc( 0.5 * var(--pad) );
            padding-bottom:calc( 1 * var(--pad) );
            margin:0;
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: 
                auto 
                var(--pad)
                1fr;

            grid-template-areas: 
                "fullscreen close close"
                ". close close"
                "previous . next";
                
            gap:0;
            z-index: 1;
        }

        .gallery-figure{
            padding: 0;
            background:var(--col-white);
            background:inherit;
            
            // popover in dialog!
            img{
                border:1px solid currentColor;
                background-color: black;;
                object-fit: contain;
                width: 100%;
                height: auto;
                //max-height:calc(100vh - 4ch - 2 * var(--pad) );
                max-height:calc(100dvh - 1lh - 2 * var(--pad) );
                // user-select: none;
                // pointer-events: none;
                position: static;
                top:auto;
                left:auto;
                bottom: auto;
                right: auto;
                transform: none;
            }
        }
        .gallery-image-caption{
            bottom: calc( var(--pad) * 1 );
        }
    }

    

    @media (min-width: 320px) {
            
        .gallery-grid {
            // --size:120px;
        }

        .landscape {
            grid-row: span 2;
            grid-column: span 3;
        }

        .landscape.medium {
            grid-row: span 3;
            grid-column: span 5;
        }

        .landscape.big {
            grid-row: span 4;
            grid-column: span 6;
        }

        .portrait {
            grid-row: span 3;
            grid-column: span 2;
        }

        .portrait.medium {
            grid-row: span 4;
            grid-column: span 3;
        }
        
        .portrait.big {
            grid-row: span 6;
            grid-column: span 4;
        }
        
        .squared {
            grid-row: span 3;
            grid-column: span 3;
        }

        .squared.big {
            grid-row: span 4;
            grid-column: span 4;
        }
    }

    @media (min-width: 920px) {
            
        .gallery-grid {
            // --size:160px;
        }
    }

}


.gallery-summary{
    display: flex;
}

.thumbnail-image{

}


// FULLSCREEN MODE =================================
.fs{
    .gallery{
        .gallery-image-button-fullscreen{
            background-image: url(/source/assets/icons/fullscreen_exit.svg);
        }
        .gallery-image img,
        .lightbox .gallery-figure img{
            max-height: 100vh;
            max-height: 100dvh;
        }    
    }
}