#introduction{
    // z-index: 101;
    // margin-top: var(--pad);
 
    /* Animation properties */
    --emoji-orientation: 0deg;
    --emoji-rotate: auto;
    --emoji-anchor: auto;

    /*
    &::before,
    &::after,
    #hero-figure::before,
    #hero-figure::after,
    figcaption::before,
    figcaption::after{
        
        --size:44px;
       
        font-family: 'noto-music';
        font-size: 440%;
        content:"𝅗𝅥";
        position:absolute;
        top: 33%;
        left: 50%;
        width:var(--size);
        height:var(--size);
        z-index: 202;
        // display: none;
        // animation-play-state: paused;
        color: var( --col-accent, var(--col-plum) );
    }

    #hero::after,
    figcaption::before,
    figcaption::after{
        offset-path: var(--path-double-wave-left);
        left: 50%;
        offset-rotate: auto 180deg;
        // transform: rotate(0.5turn);
        // animation: 
        //     OffsetPathChangeLeft calc(var(--duration) * var(--offset-variatons) ) infinite linear, 
        //     Notation var(--duration) infinite linear,
        //     FadeEnd var(--duration) infinite linear,
        //     TravelAlongPathLeft var(--duration) infinite ease-out;
        // animation-play-state: paused;
    }
   
    #hero::before{
        --delay:0ms;
    }
    
    #hero::after{
        --delay:420ms;
    }
    
    #hero-figure::before{
        --delay:873ms;
    }
    
    #hero-figure::after{
        --delay:420ms;
        offset-path: var(--path-sine);
    }

    figcaption::before{
        --delay:990ms;
        offset-path: var(--path-wave-left);
    }
    
    figcaption::after{
        --delay:730ms;
        offset-path: var(--path-float-left);
    }*/
}


#hero,
#hero-mask{
    padding:0;
    // background-color: transparent;
    overflow: hidden;
    overflow: clip;
    // pointer-events: none;
    z-index: 505;
    img{
        max-width:var(--image-width-hero);
    }    
}
#hero{
    z-index: 303;
    order:-2;
    grid-area:hero;
    // as these are sticky, this just gives a bit more scrolling time
    // margin-bottom: 20vh;
}

// #hero.active{

//     &::before,
//     &::after,
//     #hero-figure::before,
//     #hero-figure::after,
//     figcaption::before,
//     figcaption::after{    
//         animation: 
//             // OffsetPathChangeRight calc(var(--duration) * var(--offset-variatons) ) steps(var(--offset-variatons), end) infinite linear reverse,  
//             OffsetPathChangeRight calc(var(--duration) * var(--offset-variatons) ) var(--delay,0s) 1 linear reverse,  
//             Notation var(--duration) var(--delay,0s) var(--offset-variatons) linear,
//             FadeEnd var(--duration) var(--delay,0s) var(--offset-variatons) linear,
//             TravelAlongPathRight var(--duration) var(--delay,0s) var(--offset-variatons) ease-out;
//     }

//     #hero::after,
//     figcaption::before,
//     figcaption::after{
//         animation: 
//             OffsetPathChangeLeft calc(var(--duration) * var(--offset-variatons) ) var(--delay,0s) 1 linear, 
//             Notation var(--duration) var(--delay,0s) var(--offset-variatons) linear,
//             FadeEnd var(--duration) var(--delay,0s) var(--offset-variatons) linear,
//             TravelAlongPathLeft var(--duration) var(--delay,0s) var(--offset-variatons) ease-out;
//     }
// }

#hero-mask{
    pointer-events: none;
    grid-area:mask;
}

