// specific icons...
a[href="#introduction"],
#introduction .heading-icon{
    --icon:url(/source/assets/icons/audiotrack-24px.svg);
}
a[href="#teaser"],
#teaser .heading-icon{
    --icon:url(/source/assets/icons/audiotrack-24px.svg);
}
a[href="#midi-equipment"],
#midi-equipment .heading-icon{
    --icon:url(/source/assets/icons/cable.svg);
}
a[href="#about"],
#about .heading-icon{
    --icon:url(/source/assets/icons/accessibility_new-24px.svg);
}
a[href="#chords"],
#chords .heading-icon{
    --icon:url(/source/assets/icons/piano-24px.svg);
}
a[href="#venue"]
#venue .heading-icon{
    --icon:url(/source/assets/icons/fmd_good.svg);
}
a[href="#technology"],
#technology .heading-icon{
    --icon:url(/source/assets/icons/speaker-24px.svg);
}
a[href="#laboratory"],
#laboratory .heading-icon{
    --icon:url(/source/assets/icons/biotech.svg);
}
a[href="#science"],
#science .heading-icon{
    --icon:url(/source/assets/icons/favorite-24px.svg);
}
a[href="#research"],
#research .heading-icon{
    --icon:url(/source/assets/icons/favorite-24px.svg);
}
a[href="#history"],
#history .heading-icon{
    --icon:url(/source/assets/icons/access_time.svg);
}
a[href="#event"],
#event .heading-icon{
    --icon:url(/source/assets/icons/event.svg);
    // --icon:url(/source/assets/icons/accessible-24px.svg);
}
a[href="#faq"],
#faq .heading-icon{
    --icon:url(/source/assets/icons/help_black_24dp.svg);
}
a[href="#waveform-visualiser"],
#waveform-visualiser .heading-icon{
    --icon:url(/source/assets/icons/music_video.svg);
    --icon:url(/source/assets/icons/trip_origin.svg);
   
    --icon:url(/source/assets/icons/waves.svg);
}
a[href="#shapes"],
#shapes .heading-icon{
    --icon:url(/source/assets/icons/trip_origin.svg);
    --icon:url(/source/assets/icons/water.svg);
}
a[href="#transport"],
#transport .heading-icon{
    --icon:url(/source/assets/icons/hail.svg);
}