@keyframes Peak {
    0%{
        fill:var(--col-warm-grey-light, var(--col-white));
    }
}

@keyframes Throb {
    0%{
        fill:var(--col-warm-grey-light, var(--col-white));
    }
}

@keyframes Blur {
    to{
        filter:blur(100px);
    }
}




@keyframes BackToTop {
    50%{
        transform: translateY(-66%);
        opacity: 0;
    }
    51%{
        transform: translateY(66%);
    }
    0%, 100%{
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes identifier {
    
}


// ♩ ♪ ♫ ♬
@keyframes Notation {
    0%{
        // content:"𝆔";
        content:"𝅘𝅥𝅯";
    }
    20%{
        content:"𝅘𝅥𝅯";
    }
    40%{
         content:"𝅘𝅥𝅮";
    }
    60%{
        content:"𝅘𝅥";
    }
    80%{
        content:"𝅗𝅥";
    }
    100%{   
        content:"𝅗𝅥";
        scale:2;
    }
}

  
@keyframes OffsetPathChangeLeft {
    0%,20%{
        offset-path: var(--path-arc-left);
    }
    20.1%,40%{
        offset-path: var(--path-double-wave-left);
    }
    40.1%,60%{
        offset-path: var(--path-float-left);
    }
    60.1%,80%{
        offset-path: var(--path-ripple-left);
    }
    80.1%,100%{
        offset-path: var(--path-wav-left);
    }
}

@keyframes OffsetPathChangeRight {
    0%,20%{
        offset-path: var(--path-arc);
    }
    20.1%,40%{
        offset-path: var(--path-double-wave);
    }
    40.1%,60%{
        offset-path: var(--path-float);
    }
    60.1%,80%{
        offset-path: var(--path-ripple);
    }
    80.1%,100%{
        offset-path: var(--path-wave);
    }
}


@keyframes TravelAlongPathRight {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

@keyframes TravelAlongPathLeft {
    0% {
         offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
  
// @keyframes TravelAlongPath {
//     0% {
//       offset-distance: 0%;
//     }
//     100% {
//       offset-distance: 100%;
//     }
// }
  
@keyframes FadeEnd {
    0%{
        opacity: 0;
    }
    3%, 90% {
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes FadeFrom {
    from {
        opacity: var(--opacity, 0);
    }
}
@keyframes FadeTo {
    to {
        opacity: var(--opacity, 1);
    }
}

@keyframes TranslateTo {
    to{
        transform: translate( var(--x,0), var(--y,0)) rotate(var(--tilt, var(--rotate, 0)));
    }
}

@keyframes RockTranslated {
    0%, 100%{
        transform: translate( var(--x,0), var(--y,0)) rotate(0) scale( var( --scale,1));
    }

    33%{
        transform: translate( var(--x,0), var(--y,0)) rotate(var(--tilt, var(--rotate, 0))) scale( var( --scale,1));
    }
    66%{
        transform: translate( var(--x,0), var(--y,0)) rotate(calc( -1 * (var(--tilt, var(--rotate, 0))) ) ) scale( var( --scale,1));
    }
}

@keyframes TranslateFrom {
    from{
        transform: translate( var(--x,0), var(--y,0)) rotate(var(--tilt, var(--rotate, 0)));
    }
}

@keyframes Rock {
    0%,100%{
        transform: translate( var(--x,0), var(--y,0)) rotate(0%);
    }
    10%,30%,50%,70%,90%{
        transform: translate( var(--x,0), var(--y,0)) rotate( var(--tilt, 12deg) ) ;
    }
    20%, 40%, 60%, 80%{
        transform: translate( var(--x,0), var(--y,0)) rotate( calc( -1 * var(--tilt, 12deg) ) ) ;
    }
}

// to create a scroll speed different to the scroll rate
@keyframes Text-Scroller {
    from{
        transform: translateY(20%);
    }
    to{
        transform: translateY(0);
    }
}