@use "_vars.scss";

// * {
//     outline:2px solid rgba(255,0,0,0.5);
// }

html {
    display: grid;
    min-height: 100%;
    color: var(--col-text);  
    // max-width: 100vw;
    // overflow-x: hidden;
   
    // TODO: remove this
    // &::before{
    //     content:"";
    //     position: fixed;
    //     top:0;
    //     left:0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: var(--col-red);
    //     color:var(--col-white);
    //     z-index: 0;
    //     display: flex;
    //     place-content: center;
    // }
}

body{
    // display: grid;
    // grid-template-areas: 
    //     "header" 
    //     "main" 
    //     "footer"
    //     ;
    // gap:var(--pad);
    // grid-auto-flow: row;

    color: var(--col-text); 
    accent-color: var(--col-accent);
    
}

.coming-soon{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--col-red);
    color:var(--col-white);
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    z-index: 1080;  // top of the pops

    label{
        display: flex;
        flex-direction: column;
        gap:var(--pad);
    }
}


// header{
#headline{

    order:-3;

    box-sizing: border-box;
    color:var(--col-white);
  
    // TODO minus some bottom space for the "fold"
    min-height: calc( var(--visible-height-fallback) );
    min-height: calc( var(--visible-height) );

    width: 100%;

    // display: flex;
    // flex-direction: column;
    display: grid;
   
    grid-template-areas: 
        "menu"
        "nav"
        "headline"
        "share"
        ;

    grid-template-rows: 
        auto 
        auto
        1fr 
        auto
    ;
    

    // Blue background with royal society logo and stuff
    &::before{
        content:"";
        // position: absolute;
        // top:0;
        // left:0;
        // width: 100%;
        // height: 100%;
        
        background-blend-mode:multiply ;
        background-color: var(--col-blue);
        // background-attachment: fixed;
        background-image: url(/source/assets/logos/royal_society-crest.svg);
        // background-image: url(/source/assets/logos/photosynth.svg);
        background-size: clamp(44px, 33%, 128px);
        background-repeat: no-repeat;
        background-position: 
            bottom calc( 1 * var(--pad) )
            right calc( 2 * var(--pad) );
        opacity: 0.94;
        grid-area: 3/1/-1/-1;
    }

    position: relative;
    
    z-index: 909;

    touch-action: none;
    pointer-events: none;

    scroll-behavior: smooth;
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;

    hgroup{
        // to allow the background synth to be played
        // pointer-events: none;
        touch-action: none;
     
        padding:var(--pad) calc( 2 * var(--pad) );
        margin-bottom:0;

        grid-area: headline;

        position: relative;
        z-index: 202;
        display: flex;
        flex-direction: column;
        gap:calc( var(--pad) / 2 ) ;
    }

    canvas{
        grid-area:2/1/-1/-1;
    }

    .piano{
        grid-area:1/1/-1/-1;
        transform: scale(-1);
        margin-top:auto;
    }

    img.logo-royal-society-crest{
        position: absolute;
        top: var(--pad);
        right: var(--pad);
        // order: 1;
        // float: right;
        grid-area: headline;
        width: clamp( 100px, 20% , 256px);
        height: auto;
        max-height:75%;
        z-index: 1;
    }

    menu{
        grid-area: menu;
        justify-self: center;
        pointer-events: auto;
    }

    #share-menu{
        grid-area:share;
     
        place-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        label{
            display: flex;
            flex-direction: column;
        }
    }
}

.expansion{
    font-size: 0;
    color: transparent;
}


// Larger sizes
@media screen and (min-width: vars.$min-width-2){ // Please verify if $min-width-2 (e.g., 800px) is correct or use the appropriate variable from _vars.scss

    .expansion{
        display: inline;
    }

    #headline {
        grid-template-areas: 
            "menu menu"
            "headline headline"
            "share nav"
        ;
        grid-template-rows: 
            auto 
            1fr
            auto
        ;
        grid-template-columns: auto 1fr ;

        hgroup{
            padding-right: calc( 12ch + 4 * var(--pad) ) ;
        }

        &::before{
            grid-area: 2/1/-1/-1;
            background-size: clamp(64px, 25%, 256px);
            background-position-y:center; 
        }
    }
}

#main-content{

    --overlap:50vh;
    --notes-height:100dvh;

    // a window at the end of scrolling to 
    // allow the scrolling elements to accumulate
    // like voltron
    padding-bottom: 20vh;
    padding-bottom: 20dvh;

    // display: grid;
    // grid-auto-flow: row;

    &::before{
        content:"";
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        max-width: var(--image-width-hero);
        // background-color: red;

        // just the smil logo...
        // background-image: url(/source/assets/figures/hero-royal-society-smile-only.svg);
        background-image: url(/source/assets/wallpaper/hero-bg.svg);
        // behind everything
        z-index: -1;

        // make it look cool
        // filter: invert(1);
        mix-blend-mode: soft-light;
    }

}

// ensure all hero images are the same scale and size
#main-content::before,
#hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-size: var(--image-width-hero) 100%; 
}
// see menu in menu.scss

main > *,
body > footer,
.piano{
    // padding:var(--pad);
    box-sizing: border-box;
    // padding:var(--pad) calc( 2 * var(--pad) );
    z-index: 808;
}

main > :is(
    div,
    section, 
    blockquote
){
    container-type: inline-size;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: calc( 2 * var(--pad));
    box-sizing: border-box; 
    position: relative;
    display: grid;
    width:100%;
    max-width: var(--max-section-width);
    border-radius: var(--curve);
    // border-top: var(--pad) solid var(--col-accent);
}

body > footer{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box; 
    padding: var(--pad);
    // max-width: calc( var(--max-section-width) - var(--pad) * 2 );
    // margin-left:auto;
    // margin-right:auto;
}

#diagram-face-scan{}


main > :is(
    section, 
    blockquote
){
    // border-radius: 9px 9px 0 0;
    background-color: var(--col-bg);
}


main :is(
    blockquote
){
    z-index: 1;
}

section p{
    // background-color: var(--col-bg);
    //padding-top:calc( var(--pad)  );
    // padding-bottom:calc( var(--pad) / 2 );
}

main > section + section{
    // padding-top:calc( 12 * var(--pad) - 2px);
    
    margin-top:var(--pad);
}

// section p + p{
//     padding-top:calc( var(--pad) /2  );
// }

p.flood{
    // padding-top:0;//calc( var(--pad) / 2 );
    // padding-bottom:0;//calc( var(--pad) / 2 );
    // margin-top:calc( var(--pad)  );
    // margin-bottom:0;//calc( var(--pad) / 2 );
}

// main > section + section{
//     // padding-top:calc( 12 * var(--pad) - 2px);
//     border-top: 2px solid var(--col-accent);
// }
main > section.sticky + section{
    margin-top:calc( 4 * var(--pad) );
}

#introduction{
    margin-top:calc( var(--notes-height, --100vh) * -1 );
    padding-bottom: var( --overlap, 0);

    background: transparent;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 
     "hero"
     "warning"
     "mask";

    &::after{
        content: '';
        position: relative;
        display: block;
        // this is the timing on the intro pull up....
        height:50vh;
    }
}

#teaser{
    margin-top:calc( var(--overlap) * -2 );
    // overflow: hidden;
    // margin-top:calc( var(--overhang) * -1 );
}


.warning{
    margin-left:auto;
    margin-right:auto;
    max-width: min( 
        80%,
        calc( var(--max-section-width) - var(--pad) * 2 )
    );

    padding: calc( var( --pad ) / 2 ) calc( var( --pad ) );
    padding-left:calc( var(--pad) / 2);
    
    box-sizing: border-box;  
    // position: relative;
    z-index: 808;
   
    position: sticky;
    // position: absolute;
    // top:0;
    // left:0;
    // grid-area:1/1/-1/-1;
    // top:calc( var(--pad) );
    top:calc( var(--sticky-top) + var(--pad) );
    top:calc( 100% - var(--sticky-top) - var(--pad) - var(--footer-height));
    
    transform: translateY(-100%);
    // bottom:var(--pad);
    // margin-top: calc(var(--pad) * 2);
    margin-left:auto;
    margin-right:auto;

    // for stickiness
    margin-bottom:50%;

    // color:var(--col-accent);
    color:var(--col-white);
    // background: transparent;
    background-color: var(--col-plum);
    border:2px solid var(--col-white);
    border-radius: var(--curve, 4px);
  
    order: -1;

    height: fit-content;
    pointer-events: none;
    user-select: none;
    // display: grid;
    // grid-template-areas: "icon warning";
    // grid-template-columns: auto 1fr;

    grid-area: warning;

    &::before{
        --size:6.5ch;
        content:'';
        // font-size:clamp( 28px, 7vw, 300%);
        line-height: 0;
        margin:0;
        // margin-left:calc( var(--pad) / 2);
        margin-right:calc( var(--pad) / 2);
        padding:calc( var(--pad) / 4);
        float:left;

        // height:calc( var(--size) * 0.8 );
        height:var(--size);
        width:var(--size);
        grid-area: icon;
        vertical-align: middle;
        display: inline-block;
        // position: absolute;
        // margin:auto;
        // left:0;//:calc( var(--pad) / 2 );
        // top:0;//calc( var(--pad) / 2 );
        background-color:transparent;
        background-image: url(/source/assets/icons/report_problem.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        text-align: center;
        align-items: center;
        justify-content: center;
        filter: brightness(100%) invert(100%);
        // clip-path: polygon(50% 0, 100% 100%, 0 100%); 
    }

    h4{
       transform: translateX(-1%);
    }
    p{
        line-height: 1.2;
    }
}

.button-share-label{
    display: flex;
    flex-direction: column;
    padding-left:0;
    padding-right:0;
}


#midi-equipment{
    display: grid;
    grid-template-areas: 
        "header toggle"
        "details details"
        ;

    grid-template-rows: 
        auto 
        1fr;

    grid-template-columns: 1fr auto;

    justify-content: stretch;
    align-items: center;
    gap: var(--pad);
    margin: var(--pad);

    hgroup{
        grid-area: header;
    }
    p{
        grid-area:content;
    }
    details{
        grid-area: details;
        margin: 0;
    }
}

#details figure{
    display: grid;
    grid-template-areas: 
        "caption"
        "button"
        "details";
    
    gap:var(--pad);
    margin:0;
    padding:0;

    figcaption{
        grid-area: caption;
    }
    button{
        grid-area: button;
    }
    dl{
        grid-area: details;
    }
}

@media screen and (min-width:vars.$min-width-3){
    #details figure{
        grid-template-areas: 
            "caption caption"
            "button details";
        grid-template-columns: minmax(44px, 1fr) 1fr;
   
    }
}

#drum-sequencer{
    --i:0;

    display: flex;
    flex-wrap:nowrap;
    justify-content: stretch;
    width: 100%;

    fieldset{
        padding:0;
    }

    ol{
        margin: 0;
        list-style: none;
        counter-reset: drumstep; // Initialize the counter
    }
    ul{
        list-style: none;
    }
    > li > ul li{
        counter-increment: drumstep; // Increm
        position: relative;

        &::before {
            content: counter(drumstep, decimal-leading-zero) ". "; // Display the counter
            position: absolute;
            left: 0;
            font-variant-numeric: tabular-nums;
            color: var(--col-accent, #fff);
        }
        /* Add padding-left to make space for the number */
        padding-left: 2em;
    }

    > li{
        flex-grow: 1;
        width: 100%;
        // display: flex;
        // align-items: center;
        label{
            width: 100%;
            font-size: 0;
        }
        // actual sequence
        ol{
            display: flex;
            flex-wrap:nowrap;
            flex-direction: column;
            gap:var(--gap, 11px);
            margin:0 auto;
            padding:0;
            width: 100%;
            list-style: decimal-leading-zero;
            list-style-position: inside;
            position: relative;

            &::before{
                content:'';
                display: block;
                width:100%;
                // height:var(--pad);
                height:calc( 100% / var(--quantity, 16) );
                background-color: var(--col-accent);
                position: absolute;
                top:0;//var(--pad);
                transform: translateY( calc(var(--i,1) * 100%) );
                left:0;
            }
        }
    }

    input[type=checkbox]{   
        border:4px solid var(--col-border);
    }
}

#timbres{
    z-index: 1999;
    // padding-top:calc(var(--pad) * 2);
    // margin-bottom:calc( 100vh - 66px);
    // min-height: 100vh;
    // min-height: 100dvh;
}

// #drums{
//     float: left;
// margin-right:auto;
// }

// nav // #process-links{}
#drums{
    padding:0;
    margin:0;
    margin-bottom: 50vh;
    display: block;
    // padding-top:100%;
    background-color: transparent;
    border:0;
    width: 100%;
    z-index: 2001;
    
    // margin-left:var(--pad);
    // wont have any effect
    // margin-top: calc( var(--pad) * 4);
  
    top:91px;
    top:134px;
    transform: translateY(100%);
  
    // width: min-content;

    fieldset{
        display: flex;
        flex-direction: row;
        // flex-direction: column;
        margin:0;
        padding:0;
        border:0;
        gap:0;
    }

    legend{
        float:left;
        padding: 0;
        margin: 0;
        order:999;
    }

    button{
        z-index: 1999;
    }
    
    button + button {
        margin-left: 1px;
    }
    legend{
        font-size: 50%;
    }
}

@media screen and (min-width: vars.$min-width-3) {
    #drums{
        top:clamp(67px, calc( (100vw - vars.$min-width-3) * -1e9), 91px);//50%; 
        width: fit-content;
        transform: translateY(0);
        fieldset{
            width: fit-content;
        }
    }
}


figure img{
    --scale:1;
}

#button-play-kick{
    &::before{
        content:'🦶';
    }
}
#button-play-snare{
    &::before{
        content:'🥁';
    }
}
#button-play-hat{
    &::before{
        content:'🤠';
    }
}
#button-play-shaker{
    &::before{
        content:'🪇';
    }
}

// drum sequncer
#percussion{
    z-index: 3;
}

#technology-explanation{
    figure > img{
        min-width: 320px;
        width: 50%;
        max-width: 50%;
    }
}


#lab-contact{
    width: 100%;
}


#emotion{
    // position: sticky;
    // bottom:0;
    // z-index: 202;
    display: flex;

    fieldset{
        padding:0;
    }
}

.anger-selector{
   
}

// .lovely-selector,
fieldset{
   display: flex;
   flex-wrap: wrap;
   gap:calc( var(--pad) / 2 );
   justify-content: stretch;
    margin: var(--pad) 0;
   p{
    flex-shrink: 0;
    flex-basis: 100%;
   }
}

label[for="timbre-random"]{
    display: flex;
    flex-direction: column;
    .cta{
        margin:0;
        order:-1;
    }
}

#facilities{
    figcaption{
        text-align: left;
    }
}

tbody{
    border-top:var(--stroke, 2px) var(--col-accent) solid;
    border-bottom:var(--stroke, 2px) var(--col-accent) solid;
    padding:var(--pad) 0;
}
// @​counter-style pad {
//     system: extends decimal;
//     pad: 2 '0';
// }

#science {
    margin-top: 20vh;
}

//     article::before {
//         content: counters(section,'',pad)'.'counters(content,'',pad);
//     }
// }
#capture-face{

    &::after{
        content: '';
        position: relative;
        display: block;
        // this is the timing on the intro pull up....
        height:100vh;
    }
}

.synth-shape{
    // padding-bottom:var(--pad);
}

.timbre-selector{
    --icon-size:22px;
    display: grid;
    margin-top:calc( var(--pad) * 2 );
    // smallest first
  
    // grid-template-areas: 
    //     "select select" 
    //     "prev next" 
    //     "random random";
    // grid-template-areas: 
    //     "select select select" 
    //     "prev next random";
        
    // grid-template-columns: repeat( auto-fit, minmax(88px, 1fr) );
    // grid-template-columns: 2fr 2fr 1fr;

    grid-template-areas: 
    "select select select"
    "prev random next";
    grid-template-columns: 2fr 1fr 2fr;
    row-gap: 1px;

    // same height as existing menu
    min-height: var(--sticky-top);

    gap: 0 1px;// calc( var(--pad) / 2 );
   
    margin: 0;
    padding: 0;
    // grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    // gap:var(--pad);

    // border-radius: var(--curve);
    border:0;//dashed var(--col-border) 2px;

    background-color: var(--col-bg);
    border-radius: 0 ;//var(--curve, 4px);
  
    // align-content: center;
    justify-content: stretch;
    align-items: stretch;
    justify-items: stretch;

    position: relative;
  
    legend{
        // float: left;
        // padding-left:calc( 2 * var(--pad) );
        // padding-right:calc( 2 * var(--pad) );
        position: absolute;
        // bottom:0;
        // top: 100%;
        left: 0;
        top:0;
        transform: translateY(-100%);
        right: 0;
    }

    label{
        background-color:var(--col-accent);
          
        // align-content: center;
        justify-content: stretch;
        align-items: stretch;
        justify-items: stretch;
  
        text-wrap: nowrap;
        font-size: 0;
        display: block;
        max-height: 100%;
        min-height: var(--sticky-top);
    }
    label[for="song-timbre-previous"]{
        grid-area: prev;
    }
    label[for="song-timbre-next"]{
        grid-area: next;
    }
    label[for="song-timbre-select"]{
        grid-area: select;
        border-bottom: var(--stroke, 1px) var(--col-white, white) solid;
    }
    label[for="song-timbre-random"]{
        grid-area: random;
    }
    
    button, select{
        height:100%;
        width:100%;
        color:var(--col-white);
       background-color:inherit;
       grid-area:1/1/-1/-1;
        // min-height: 100%;
       &:hover, &:active{
            border-radius: 0;
            background-color: var(--col-plum);
       }
    }

    button{
        font-size: 0;
    }
}


@media screen and (min-width:vars.$min-width-3){
 
    .timbre-selector{
        grid-template-areas: "prev select next random";
        grid-template-columns: 2fr 4fr 2fr 1fr;    
        label[for="song-timbre-select"]{
            border-bottom: none;
        }
    }
}
@media screen and (min-width:vars.$min-width-2){
        
    .timbre-selector{
        --icon-size:33px;
        // grid-template-areas: 
        //     "prev select next" 
        //     ". random .";
        grid-template-columns: 2fr 5fr 2fr 1fr;
        button:not(#song-timbre-random){
            font-size:var( --step--2, 22px);
        }
    }
}

@media screen and (min-width:vars.$min-width-1){
        
    // all buttons have text
    .timbre-selector{
        --icon-size:44px;
        grid-template-columns: 1fr 2fr 1fr 1fr; 
      
        button{
            font-size:var( --step--2, 22px);
        }
        legend{
            padding-left:calc( 2 * var(--pad) );
            padding-right:calc( 2 * var(--pad) );
            right: auto;
        }
    
    }
}



// Happy / Sad sequencer
.emotional-chord-player{
  
    // --curve:66px;
    --button-curve:66px;
    --button-size:clamp(144px, 80vh, 50vw);
    --half-size:calc( var(--button-size) / 2 );

    display: grid;
    grid-template-columns: var(--half-size) var(--half-size);
    grid-template-areas: "happy sad";
    gap:var(--pad) 0;
    justify-content: center;
    align-items: center;
    border:0;

    label{
        display: flex;
        flex-direction: column;
        gap:var(--pad);
        text-align: center;
        overflow: hidden;
        overflow: clip;
        button{
            order:-1;
        }
    }
    // seperator
    label:first-of-type{
        border-right:4px dotted var(--col-border, white );
    }
}

#diagram-face-mood-recognition{
    padding-top: calc( var(--pad) * 1);
    padding-bottom: 0;
}

#research{
    h3:first-child{
        display: inline-block;
        width: fit-content;
        // vertical-align: bottom;
        // padding:var(--pad);
        // background-color:var(--col-yellow);
    }
}

footer{
    margin-left:var( --pad );
    margin-right:var( --pad );
}


// Canvases & animations -------------------------------------------

#mouse-visualiser{
    z-index: 9e4; // at the front forever!
    position: fixed;
    pointer-events: none;
    top:0;
    left:0;
    height: 100%;
    width:100%
}

#wallpaper{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;    // behind everything except...
    
    // background-image: url(/source/assets/wallpaper/hero-bg.svg);
    background-color:inherit;// var(--col-bg);
    mix-blend-mode: color-burn;
}

#waveform-visualiser{
    display: grid;
    grid-template-areas: 
        "title"
        "form";

    grid-template-rows: 
        auto
        1fr;

    h3{
        grid-area: title;
    }
    form{
        grid-area: form;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: baseline;
        align-items: center;

        position: relative;
        z-index:1;
        pointer-events: none;
        fieldset{
            // width:100%;
            margin-left:auto;
            margin-right:auto;
            padding-bottom: var(--pad);
        }
        fieldset > *{
                margin-top: -18%;
            pointer-events: auto;
        }
    }
}

#waveforms{
    // pointer-events: none;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "controls"
        "visualiser";
}
.song-controls{
    padding: 0;// var(--pad);
    margin:0;
    border: 0;
    button{
        margin:0;
    }
    legend{
        float: left;
    }
}

#visualiser{
    // z-index: 1;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    height: 100vh;
    height: 100dvh;
    margin-top: -100vh;
    margin-top: -100dvh;
    // grid-area:1/1/-1/-1;
    // grid-area:visualiser;
    // transform: translateX(calc( -50vw - 50%) );
    //calc( (100vw - 100%)/-2 );
    // display: none;
}

.in-viewport #visualiser{
   display: block;
}

#waveforms{
    form{
        grid-area:controls;
    }
}




#song-in-pixels{
    // background-color: var(--col-bg);
    position: absolute;
   
    top:0;
    left:0;
    width:100%;
    height: 100%;

    //min-height:128px;//calc( 128px * 2 ); 
    min-height:128px;//calc( 128px * 2 );
    // bottom:0;//var(--footer-height);
    // margin-top:auto;
    // margin-bottom:auto;
}

#playback{
    overflow: visible;

    &.in-viewport{
        #song-in-pixels{
            
        }
    }
}

#lab-venue-details{
    display: flex;
    flex-wrap: wrap;
    gap:var(--pad);

    :is(h5,h6){
        flex-basis:100%;
    }
}


#lab-contact{
    grid-area:2/1/-1/-1;
}

// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

#biography{
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap:var(--pad);
    // align-items: center;    
    img{
        // max-width: 80%;
        margin: 0 auto;
        width:auto;
    }
}


#affiliates{

    --space:max( 0 , calc( (100vw - 480px) / 2 ) );
    --space: calc( ( 100vw - 480px ) / 2 ) ;
    
    color: var(--col-plum);
    margin-top: -15%;
   
    width: 100%;
    text-align: center;

    figure > img{
        min-height: auto;
    }

    ul{
        list-style: none;
        display: grid;
        gap:calc( 2 * var(--pad) );
        grid-template-columns: repeat(auto-fit, minmax( min(180px, 33%), 1fr));
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        // padding-left:var(--space);
        // padding-right:var(--space);
        
      max-width: 480px;

        margin-left: auto;
        margin-right: auto;
        position: relative;            
        border-radius: var(--curve);
        // background-color:var(--col-text);
        background-color: color-mix( in rgba, var(--col-bg) 66%, transparent );

        &::after{
            content: '';
            background-image: url("/source/assets/logos/royal_society-crest.svg");
            background-position:right center ; // bottom calc( var(--pad) * 2) right var(--pad);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
           
            height:100%;
            width:100px;
            visibility: hidden;
        }
        
        // this is a seperator x between the images
        &::before{
            content:"×";
            // text-align: center;
            font-size: 300%;
            // width: 100%;
            // height: 100%;
         
            position: absolute;
           
            // right: 0;
            // bottom: 0;
            // left: 42.5%;    // at < 320 px
            // left: 44.5%;
            left: 49%;
            top: 50%;
            transform: translate(-50%,-50%);
          
            // display: inline-block;
            // vertical-align: middle;
            // margin-top: 13%;
            z-index: -1;
        }
    }

    li + li{
        
      
    }
}


@media screen and (min-width:vars.$min-width-3) {
    #biography{
        flex-direction: row;
        // flex-wrap: wrap;
        align-items: self-start;
        picture{
            max-width: 20%;
        }
    }
}
@media screen and (min-width:vars.$min-width-2) {
    #affiliates ul::after{
        left:100%;
        visibility: visible;
    }
}

#socials{
    ul{
        display: flex;
        list-style-position: inside;
        gap:var(--pad);
    }
}

// RS button styles
button.cta,
a.cta{
    display: inline-block;
}


#emotion{

    .notation{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(64px, 1fr));
    }
}

#event-info{
    display: flex;
    flex-direction: column;
}

.venue-address{
figcaption{
    order:-1;
}
}

.smallprint{
    // padding-left: var(--pad);
    // padding-right: var(--pad);
    --size:0.8lh; // 1 line-height
    line-height: 1.2;
    max-width: vars.$max-width;
    // margin-left:auto;
    // margin-right:auto;
    display: inline-block;
    .emoji{
        float: left;
    }
    em{
        display:block;
        margin-bottom: calc(var(--pad)/2);
    }
}

a[href$="designerzen.com"]{
    text-decoration: none;
 
    &::before{
        // --size:0.666lh;
        content:'';
        // margin-top: 4px;
        margin:0 calc( var(--pad) / 10 );
        display: inline-block;
        vertical-align: baseline;
        background-image: url(/source/assets/logos/designerzen.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: var(--size,1ch);
        height: var(--size,1ch);
    }
}

.awesomething{
    &::before{
        content:'';
        margin: 0 calc( var(--pad) / 10 );
        display: inline-block;
        vertical-align: baseline;
        background-image: url(/source/assets/logos/awesomething-logo.45.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: var(--size,1ch);
        height: var(--size,1ch);
    }
}

.map{
    border:2px solid var(--col-accent, black);
    border-radius: var(--curve,4px);
    box-sizing: border-box;
    margin-top:var(--pad);
    max-height: 69vh;
    max-height: 69dvh;
    width: 100%;
}


.link-map{
    align-self: flex-start;
    margin-bottom:calc( 2 * var(--pad) );
    margin-left:var(--pad);
    position: absolute;
    bottom:0;
    left:0;
    // transform: translateY(calc( -100% - var(--pad)));
    display: inline-block;
    padding: calc( var(--pad) / 2 ) var(--pad);
    background-color: var(--col-bg);
    border-radius: var(--curve);
    box-shadow: var(--shadow);
    &::before{
        content: "👀";//"🤙";
        font-family: 'noto-emoji';
        margin-right: calc(var(--pad) / 2);
    }
}

.logo{
    width: 222px;
}

.logo-royal-society{
    transform:scale(0.93) translateY(-1%);
}



.license{
    
}


:target {
    scroll-margin-block: max(5ex,  var(--sticky-top));
}

