body > .menu-main{
    order:-2;
    position: sticky;
    top:0;
}
.menu-main{

    margin:0 auto;
    padding:0;
  
    // bottom: var(--peek,0);
    z-index: 909;
    grid-area: 1/1/-1/-1;
    // margin-top: calc(-1 * (var(--pad) * 3 + 0lh));
    justify-self: center;
    pointer-events: auto;
    width: 100%;
    
    background-color:var(--col-accent);

    ul{
        max-width:calc( var(--max-section-width)  );
  
        --gap:1px;//clamp( 11px, 2vw, calc( 0.5 * var(--pad) ) );
        // margin-top:auto;
        background-color:var(--col-red);
        display: grid;
        // flex-wrap: wrap;
        grid-auto-flow: dense; // column;
        grid-auto-columns: min-content;
        grid-template-columns: repeat(auto-fit, minmax(44px, auto) );
        // grid-template-columns: repeat(auto-fit, minmax(44px, 1fr) );

        gap:0 var(--gap);

        list-style: none;
        // overflow: hidden;
        
        align-items: center;
        justify-content: space-between;
        margin:0 auto;
        // border-radius:9px 9px 0 0;
        box-shadow: var(--shadow);
    }

    li{
       
        a{
            --size:calc(1lh + 4px); 
            
            position: relative;
            
            font-size: 75%;

            z-index: 1;
            padding:0 calc(var(--pad) * 0.5 );
            // padding:var(--pad) calc(var(--pad) * 0.5 );
            display: block;
            text-decoration: none;
            line-height: 1;
            color:var(--col-white);
            transition: 
                background-color var(--time-long, 90ms) linear,
                color var(--time-long, 90ms) linear;

            display: flex;
            flex-direction: column;
            flex-wrap:nowrap;
            align-items: center;
            gap:calc( var(--pad) / 4 );

            width: fit-content;
            margin: auto;

            box-sizing: border-box;
            min-height: var(--sticky-top);

            // icon -> filter to white
            &::before{
                display: inline-block;
                content:'';
                background-image:var(--icon);
                background-repeat: no-repeat;
                background-size: contain;
                width: var(--size,1ch);
                height: var(--size,1ch);
                
                min-width: var(--size,1ch);
                min-height: var(--size,1ch);

                margin-right: calc( var(--pad) / 5 );
                vertical-align: bottom;
                // make white
                filter:brightness(0) invert(1);
            }
            
            &:hover{
                background-color:var(--col-plum);
                color:var(--col-white);
                text-decoration: none;
                transition-duration: var(--time-quick, 90ms) ;
            }

            &:active{
                transform: var(--button-active);
                box-shadow: var(--shadow);
            }
        }
    }
}
//   ::view-transition-group(target),
//   ::view-transition-group(item) {
//     mix-blend-mode: normal;
//   }

// Larger sizes
@media screen and (min-width:420px) {
    .menu-main{
        ul{
            justify-content: space-around;
        }
    }
}
@media screen and (min-width:600px) {
    .menu-main{

        ul{
            --gap:clamp( 11px, 2vw, calc( 0.5 * var(--pad) ) );
            //justify-items: baseline;
           
        }

        li a{
            flex-direction: row;
            flex-wrap:nowrap;
            font-size: 100%;
        }    
    }
}

// Largest sizes
@media screen and (min-width:800px){

    .menu-main{
        // width: fit-content;
        justify-self: end;
        

        ul{
            --gap:1px; //clamp( 11px, 5vw, calc( 1 * var(--pad) ) );
            // margin:var(--pad) calc( 2 * var(--pad) );
            // margin-left: 0;
            // border-radius: 99px;
            overflow: hidden;
            // padding:0 calc( 1.5 * var(--pad) );

            li a{
                // color:var(--col-plum);
                
                &:hover{
                    border-radius: var(--curve, 4px);
                }
            }
        }
    }
}




#menu-accessibility{
    order:-1;
    width: 100%;
    z-index: 303;
    color: var(--col-text);
    background-color: var(--col-bg);
    // grid-area: 1/1/-1/-1;

    grid-area:menu;
    // position: sticky;
    // top:var(--sticky-top, 0 );
    
    [data-compact]{
        :is(label,legend){
            font-size:0;
        }
        
        // flex-wrap: nowrap;
    }

    menu{
        margin:0;
        padding:0;
        // add a small bottom clean border
        border-top: 1px solid var(--col-bg);
        border-bottom: 4px solid var(--col-bg);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // as sometimes the radio buttons are taller that the other buttons...
        // align-items: center;
        align-items: stretch;
        gap:0 calc( var(--pad)  );
    }

    .skip-to-content-link{
        position: absolute;
        top:100%;
        --p:calc( (100vw - var(--max-section-width)) / 2 );
        right:calc( var(--p));
        transform: translateX(calc( var(--pad) + 100%));
    
    }
    .volume-control-link{
        order:0;
    }
    .color-scheme-link{
        order:99;
    }
    .text-size-link{
       
    }
    .font-link{

    }
    fieldset{
        display: flex;
        flex-wrap: wrap;
        gap:calc( var(--pad) / 2);
        border:0;
        padding:0;
        // padding:1px calc(var(--pad)/2) 1px calc(var(--pad)/8);
    }
    legend{
        float: left;
        vertical-align: baseline;
        align-self: center;
        text-align: right;
        padding:0;
        // margin-right:calc( var(--pad) / 2 );
    }
    legend,
    label{
        font-size: var(--font-size-h5);
    }

    form{
        display: flex;
        gap:calc( var(--pad) / 2 );
        flex-wrap: wrap;
    }

    label{
        padding:0; 
        text-align: center;
        display: flex;
        align-items: center;
        gap: calc( var(--pad) / 4 );
    }
    input[type="radio"] {
        --size: 44px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
    }
    #controls-volume fieldset{
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    
        legend{
            grid-area:legend;
        }
    }
}
  
// @media screen and (min-width:800px){
//     #menu-accessibility{ 
//         // position: sticky;
//         // top:0;
//         // left:0;
//         // border-width: 1px;
//     }
// }

#mute{
    grid-area: mute;
    appearance: none;
    border:0;
    outline: 0;

    min-width: 44px;
    min-height: 44px;
    padding:0;
    margin:0;
    cursor: pointer;

    background-image: url(/source/assets/icons/volume_off-24px.svg);
    background-size: contain;

    &:hover{
        background-color: var(--col-accent);
    }
   
    &:checked{
        background-image: url(/source/assets/icons/volume_mute-24px.svg);
    }
}

#volume{
    min-width:44px;
    width: 100%;
    grid-area: vol;
    margin-right: var(--pad);
    cursor: pointer;
}

// individual theme radio buttons
// label[for='palette-default'],
#palette-default{
    background-image:url(/source/assets/icons/yard-24px.svg);
}

#palette-contrast{
    background-image: url(/source/assets/icons/dark_mode-24px.svg);
}

#palette-monochrome{
    background-image:url(/source/assets/icons/flourescent-24px.svg);
}

#palette-colourful{
    background-image: url(/source/assets/icons/color_lens-24px.svg);
}

#font-default{
    background-image: url(/source/assets/icons/auto_awesome-24px.svg);
}

#font-readable{
    background-image: url(/source/assets/icons/light_mode-24px.svg);
}
#font-dsylexic{
    background-image: url(/source/assets/icons/emoji_emotions-24px.svg);
}