@use "vars";

body > .menu-main{
    order:-2;
    position: sticky;
    top:0;
}

.menu-main{

    margin:0 auto;
    padding:0;
  
    // bottom: var(--peek,0);
    z-index: 909;
    grid-area: 1/1/-1/-1;
    // margin-top: calc(-1 * (var(--pad) * 3 + 0lh));
    justify-self: center;
    pointer-events: auto;
    width: 100%;
    

    > ul{
        max-width:calc( var(--max-section-width)  );
  
        --gap:1px;//clamp( 11px, 2vw, calc( 0.5 * var(--pad) ) );
        // margin-top:auto;

        display: grid;
        // flex-wrap: wrap;
        grid-auto-flow: dense; // column;
        grid-auto-columns: min-content;
        grid-template-columns: repeat(auto-fit, minmax(44px, auto) );
        // grid-template-columns: repeat(auto-fit, minmax(44px, 1fr) );
        gap:0 var(--gap);
        background-color:var(--col-red);    
        list-style: none;
        // overflow: hidden;
        
        align-items: center;
        justify-content: stretch;
        margin:0 auto;
        // border-radius:9px 9px 0 0;
        box-shadow: var(--shadow);
    }

    ol{
        display: grid;
        grid-auto-flow: row;
        background: inherit;
        list-style: none;
        li{
            grid-area:1/-1;
            background: inherit;
        }
        li:nth-of-type(1){
            --i:1;
        }
        @for $i from 2 to 9 {
            li:nth-of-type(#{$i}){
                --i:#{$i};
                position: absolute;
                z-index: -1;
                min-width: 36ch;
                text-align: left;
                a{
                    padding:0 var(--pad);
                    flex-direction: row;
                    justify-content: flex-start;
                    place-content: left;
                }
            }
        }
    }

    // sub menus! - open when hovered or inside
    // &:hover,
    // &:focus,
    // &:focus-within{
    //     z-index: 911;
    //     ol{
    //         li{
    //             transform: translateY( calc(( 1 * (var(--i) - 1) * 100%) ) );
    //             transition: transform var(--time-long, 300ms) ease-in-out;
    //         }
    //     }
    // }
    // sub menus! - open when submenu hovered
    ol:hover,
    ol:focus,
    ol:focus-within{
        z-index: 911;
        li{
            transform: translateY( calc(( 1 * (var(--i) - 1) * 100%) ) );
            transition: transform var(--time-long, 300ms) ease-in-out;
        }
    }

    li{
        a{
            --size:calc(1lh + 4px); 
            
            position: relative;
            align-content: center;
            justify-content: center;

            font-size: 75%;

            z-index: 1;
            padding:0 calc(var(--pad) * 0.5 );
            // padding:var(--pad) calc(var(--pad) * 0.5 );
            display: block;
            text-decoration: none;
            line-height: 1;
            color:var(--col-white);
            transition: 
                background-color var(--time-long, 90ms) linear,
                color var(--time-long, 90ms) linear;

            display: flex;
            flex-direction: column;
            flex-wrap:nowrap;
            align-items: center;
            gap:calc( var(--pad) / 4 );

            width: fit-content;
            min-width: 100%;
            margin: auto;

            box-sizing: border-box;
            min-height: var(--sticky-top);

            // icon -> filter to white
            &::before{
                display: inline-block;
                content:'';
                background-image:var(--icon);
                background-repeat: no-repeat;
                background-size: contain;
                width: var(--size,1ch);
                height: var(--size,1ch);
                
                min-width: var(--size,1ch);
                min-height: var(--size,1ch);

                margin-right: calc( var(--pad) / 5 );
                vertical-align: bottom;
                // make white
                filter:brightness(0) invert(1);
            }
            
            &:hover{
                background-color:var(--col-plum);
                color:var(--col-white);
                text-decoration: none;
                transition-duration: var(--time-quick, 90ms) ;
            }

            &:active{
                transform: var(--button-active);
                box-shadow: var(--shadow);
            }
            &[aria-current]{
                font-weight: bolder;
                text-decoration: underline;
                text-underline-offset: 4px;
                // background-color:var(--col-plum);
            }
        }
    }
}
//   ::view-transition-group(target),
//   ::view-transition-group(item) {
//     mix-blend-mode: normal;
//   }

// Larger sizes
// @media screen and (min-width:$min-width-3) { // This commented out query is not changed
//     .menu-main{
//         ul{
//             justify-content: space-between;
//         }
//     }
// }



#menu-accessibility{

    --font-size: var(--step--7);

    order:-1;
    width: 100%;
    z-index: 303;
    color: var(--col-text);
    background-color: var(--col-bg);
    // grid-area: 1/1/-1/-1;

    grid-area:menu;
    // position: sticky;
    // top:var(--sticky-top, 0 );
    
    [data-compact]{
        :is(label,legend){
            font-size:0;
        }
        
        // flex-wrap: nowrap;
    }

    menu{
        margin:0;
        padding:0;
        // add a small bottom clean border
        border-top: 1px solid var(--col-bg);
        border-bottom: 4px solid var(--col-bg);
        width: 100%;
        box-sizing: border-box;
              
        
        background-color:var(--col-stone, var(--col-charcoal));

        // width: calc( 100% - 2 * var(--pad));
        // margin-left: auto;
        // margin-right: auto;
      
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;

        display: grid;
        grid-auto-flow: column dense; 
        // grid-auto-columns: min-content;
        // grid-template-rows: repeat(auto-fit, minmax(44px, auto) );
        // grid-template-columns: repeat(auto-fit, minmax(44px, 1fr) );
     
        grid-template-areas: 
            "test-size volume-control"
            "font font"
            "color-scheme color-scheme";

        // as sometimes the radio buttons are taller that the other buttons...
        // align-items: center;
        align-items: stretch;
        gap:1px;// calc( var(--pad)  );
    }

    li{
        display: inline;
        font-size:var(--font-size-h6);
        background-color: var(--col-white);
        padding: calc( var(--pad) / 2 );
    }

    .skip-to-content-link{
        padding: 0;
        position: absolute;
        top:calc(100% + var(--sticky-top, 0) );
        right:calc( var(--right-hand-column) + var(--pad));
        
    }
    .volume-control-link{
        order:0;
        grid-area: volume-control;
    }
    .color-scheme-link{
        order:99;
        grid-area: color-scheme;
    }
    .text-size-link{
        grid-area:test-size;
        place-content: center;
        fieldset{
            flex-wrap: nowrap;
        }
    }
    .font-link{
        grid-area: font;
    }

    fieldset{
        display: flex;
        flex-wrap: wrap;
        gap:calc( var(--pad) / 2);
        border:0;
        padding:0;
        margin:0;
        // padding:1px calc(var(--pad)/2) 1px calc(var(--pad)/8);
    }
    legend{
        color: var(--col-charcoal);
        float: left;
        vertical-align: baseline;
        align-self: center;
        text-align: right;
        padding:0;
        margin: 0;
        line-height: 1.05;
        // margin-right:calc( var(--pad) / 2 );
    }

    legend,
    button,
    select,
    label{
        font-size:var(--font-size);
    }

    form{
        display: flex;
        gap:calc( var(--pad) / 2 );
        flex-wrap: wrap;
    }

    label{
        padding:0; 
        text-align: center;
        display: flex;
        align-items: center;
        gap: calc( var(--pad) / 4 );
        flex-grow: 1;
        flex-shrink: 1;
    }

    label:has( input:checked ){
        font-weight: 500;
    }

    label[for="volume"]{
        order: -1;
    }

    input[type="radio"] {
        --size: 44px;
        box-sizing: border-box;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        width: var(--size);
        height: var(--size);
        max-width: var(--size);
        max-height: var(--size);
        display: block;
    }

    #controls-volume fieldset{
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    
        legend{
            grid-area:legend;
        }
    }
}
  
// @media screen and (min-width:800px){
//     #menu-accessibility{ 
//         // position: sticky;
//         // top:0;
//         // left:0;
//         // border-width: 1px;
//     }
// }

#toggle-mute{
    grid-area: mute;
}

#volume{
    min-width:44px;
    width: 100%;
    grid-area: vol;
    margin-left: calc( var(--pad) / 2 );
    margin-right: calc(var(--pad) / 2);
    cursor: pointer;
    background: linear-gradient(0deg, transparent 49%, black, transparent 51%);
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

// individual theme radio buttons
// label[for='palette-default'],
#palette-default{
    background-image:url(/source/assets/icons/yard.svg);
}

#palette-contrast{
    background-image: url(/source/assets/icons/dark_mode-24px.svg);
}

#palette-monochrome{
    background-image:url(/source/assets/icons/flourescent-24px.svg);
}

#palette-colourful{
    background-image: url(/source/assets/icons/color_lens-24px.svg);
}

#font-default{
    background-image: url(/source/assets/icons/auto_awesome-24px.svg);
}

#font-readable{
    background-image: url(/source/assets/icons/light_mode-24px.svg);
}
#font-dsylexic{
    background-image: url(/source/assets/icons/emoji_emotions-24px.svg);
    background-image: url(/source/assets/icons/diversity_2.svg);
}



@media screen and (min-width: vars.$min-width-3) {
    .menu-main{
        ul{
            --gap:11px;
            // justify-content: space-around;
        }
    }
    
    #menu-accessibility menu{
        grid-template-areas: 
            "test-size volume-control"
            "font font"
            "color-scheme color-scheme";

    }
}

@media screen and (min-width: vars.$min-width-2) {
    .menu-main{

        ul{
            --gap:clamp( 11px, 2vw, calc( 0.5 * var(--pad) ) );
            //justify-items: baseline;
        }

        li a{
            flex-direction: row;
            flex-wrap:nowrap;
            font-size: 100%;
        }    
    }
    
    #menu-accessibility menu{
          grid-template-areas: 
            "test-size volume-control"
            "font font"
            "color-scheme color-scheme";
    }
}

// Largest sizes
@media screen and (min-width: vars.$max-width) {

    .menu-main{
        // width: fit-content;
        justify-self: end;
        

        ul{
            --gap:1px; //clamp( 11px, 5vw, calc( 1 * var(--pad) ) );
            // margin:var(--pad) calc( 2 * var(--pad) );
            // margin-left: 0;
            // border-radius: 99px;
            // overflow: hidden;
            // padding:0 calc( 1.5 * var(--pad) );

            li a{
                // color:var(--col-plum);
                
                &:hover{
                    border-radius: var(--curve, 4px);
                }
            }
        }
    }

    #menu-accessibility menu{
       grid-template-areas: 
            "test-size font color-scheme volume-control";
    }
}