.menu-main{

    li{
        position: relative;
        z-index: 1;
    }
}

//   ::view-transition-group(target),
//   ::view-transition-group(item) {
//     mix-blend-mode: normal;
//   }


#menu-accessibility{
    order:-1;
   
    width: 100%;
    margin:0;
    padding:0;
    z-index: 303;
    color: var(--col-text);
    background-color: var(--col-bg);
    // add a small bottom clean border
    border-bottom: 4px solid var(--col-bg);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:0 calc( var(--pad)  );
    grid-area: 1/1/-1/-1;

    // as sometimes the radio buttons are taller that the other buttons...
    // align-items: center;
    align-items: stretch;


    .skip-to-content-link{
        order:-1;
    }
    .volume-control-link{
        order:0;
    }
    .color-scheme-link{
        order:99;
    }
    .text-size-link{
       
    }
    .font-link{

    }
    legend{
        align-self: center;
        text-align: right;
        // margin-right:calc( var(--pad) / 2 );
    }

    form{
        display: flex;
        gap:calc( var(--pad) / 2 );
        flex-wrap: wrap;
    }

    label{
        padding:0; 
        text-align: center;
        display: flex;
        align-items: center;
        gap: calc( var(--pad) / 4 );
    }
    input[type="radio"] {
        --size: 44px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
    }
    #controls-volume{
        display: grid;
        grid-template-areas: "legend mute vol";
        grid-template-columns: auto auto 1fr;
    
        legend{
            grid-area:legend;
        }
    }
}
  
@media screen and (min-width:800px){
    #menu-accessibility{ 
        position: sticky;
        top:0;
        left:0;
        border-width: 1px;
    }
}

#mute{
    grid-area: mute;
    appearance: none;
    border:0;
    outline: 0;

    min-width: 44px;
    min-height: 44px;
    padding:0;
    margin:0;
    cursor: pointer;

    background-image: url(/source/assets/icons/volume_off-24px.svg);
    background-size: contain;

    &:hover{
        background-color: var(--col-accent);
    }
   
    &:checked{
        background-image: url(/source/assets/icons/volume_mute-24px.svg);
    }
}

#volume{
    width: 100%;
    grid-area: vol;
    margin-right: var(--pad);
    cursor: pointer;
}

// individual theme radio buttons
// label[for='palette-default'],
#palette-default{
    background-image:url(/source/assets/icons/yard-24px.svg);
}

#palette-contrast{
    background-image: url(/source/assets/icons/dark_mode-24px.svg);
}

#palette-monochrome{
    background-image:url(/source/assets/icons/flourescent-24px.svg);
}

#palette-colourful{
    background-image: url(/source/assets/icons/color_lens-24px.svg);
}

#font-default{
    background-image: url(/source/assets/icons/auto_awesome-24px.svg);
}

#font-readable{
    background-image: url(/source/assets/icons/light_mode-24px.svg);
}
#font-dsylexic{
    background-image: url(/source/assets/icons/emoji_emotions-24px.svg);
}