@use "vars";

:root{
    color-scheme: light dark;

    // border-radius
    --curve:9px;

    // --pad:42px;
    --pad:calc(8px + 1.5625vw);

    // see buttons for to top and bottom
    --max-section-width:#{vars.$max-width};  // 1080

    --image-width-hero:2122px;

    // royal society colour scheme from 
    // https://www.contractsfinder.service.gov.uk/Notice/Attachment/e991cc6b-a4d9-45bc-bc8b-6cc473a0bfb8
   
    --col-red: #d31245;
    --col-crimson: #860038;
    
    --col-blue:#5284c5;

    --col-white: #ffffff;
    // --col-black: #333132;
    --col-black: #12100f;

    --col-accent:var(--col-red);
    --col-hover:var(--col-bg);


    // this delineates the border 
    // --col-border:var(--col-warm-grey-light) ;//hsla(22, 13%, 47%, .2);
    --col-border:var(--col-warm-grey);

    // overwrite in "themes"
    --col-bg:var(--col-stone-light, white);
    --col-text:var(--col-charcoal, black);

    --font-scale:1;

    // directly from Royal Society website
    --font-size-base: calc(16px * var(--font-scale,1));
  
    --font-size-h1: calc( var(--step-mobile-5, 40px ) * var(--font-scale,1) );
    --font-size-h2: calc( var(--step-mobile-4, 28px ) * var(--font-scale,1) );
    --font-size-h3: calc( var(--step-mobile-3, 24px ) * var(--font-scale,1) );
    --font-size-h4: calc( var(--step-mobile-2, 18px ) * var(--font-scale,1) );
    --font-size-h5: calc( var(--step-mobile-1, 16px ) * var(--font-scale,1) );
    --font-size-h6: calc( var(--step-mobile-0, 14px ) * var(--font-scale,1) );
    --font-size-p: calc( var(--step-mobile--1, 14px ) * var(--font-scale,1) );

    // --font-size-h1: var(--step-mobile-5, calc(40px * var(--font-scale,1) );
    // --font-size-h2: var(--step-mobile-4, calc(28px * var(--font-scale,1)) );
    // --font-size-h3: var(--step-mobile-3, calc(24px * var(--font-scale,1)) );
    // --font-size-h4: var(--step-mobile-2, calc(18px * var(--font-scale,1)) );
    // --font-size-h5: var(--step-mobile-1, calc(16px * var(--font-scale,1)) );
    // --font-size-h6: var(--step-mobile-0, calc(14px * var(--font-scale,1)) );

    --time-quick:95ms;
    --time-medium:295ms;
    --time-long:495ms;

    // we always want the smallest size for the footer
    --footer-height:clamp(33px, 10vmin, 10vh);
    --footer-height:clamp(60px, 10vh, 200px);

    --shadow-button: inset 0 -4px #930015;
    --button-active:translateY(5%)  scale( 0.98 );

    --sticky-top:66px;
    
    --peek:44px;

    --right-hand-column:var(--pad);//calc( (100vw - var(--max-section-width)) / 2 );

    //  - var(--footer-height) 
    --visible-height-fallback:calc( 100vh - var(--sticky-top) - var(--peek) );
    --visible-height:calc( 100dvh - var(--sticky-top) - var(--peek) );
    
    // --layer-top:909;
    // --layer-top:800;
    

	// https://smoothshadows.com/#djEsMSw1LDAuMDQsNTcsMCwwLCMzMzMxMzIsI2U4ZTZkZiwjZmZmZmZmLDI%3D	
	--shadow:  	
        0px 0px 2px rgba(51, 49, 50, 0.01),
        0px 0px 9px rgba(51, 49, 50, 0.02),
        0px 0px 21px rgba(51, 49, 50, 0.02),
        0px 0px 36px rgba(51, 49, 50, 0.03),
        0px 0px 57px rgba(51, 49, 50, 0.04);
}

@media screen and (min-width:vars.$min-width) {
    :root{
        --right-hand-column:calc( (100vw - var(--max-section-width)) / 2 );
        --font-size-h1: calc( var(--step-5, 40px ) * var(--font-scale,1) );
        --font-size-h2: calc( var(--step-4, 40px ) * var(--font-scale,1) );
        --font-size-h3: calc( var(--step-3, 32px ) * var(--font-scale,1) );
        --font-size-h4: calc( var(--step-2, 24px ) * var(--font-scale,1) );
        --font-size-h5: calc( var(--step-1, 18px ) * var(--font-scale,1) );
        --font-size-h6: calc( var(--step-0, 16px ) * var(--font-scale,1) );
    }
}
@media screen and (min-width:vars.$max-width-plus-button) {
    :root{
        // --right-hand-column:calc( (100vw - var(--max-section-width)) / 2 - 66px );
    }
}

// NO ANIMATION -----------------------------------------------------------------
@media screen and (reduced-motion: reduce) {
    :root{
        --time-quick:1ms;
        --time-medium:1ms;
        --time-long:1ms;
    }
}