// Deafult theme based on RS
[data-theme="default"]{
    //  background: light-dark(#fff, #000);
    --col-bg:var(--col-stone-light, white);
    --col-text:var(--col-charcoal, black);
}


// High Contrast DARK theme
[data-theme="contrast"]{
//     --col-bg:var(--col-black, black);
//     --col-text:var(--col-white, white);

	--shadow:  	
        0px 0px 2px rgba(255, 255, 255, 0.01),
        0px 0px 9px rgba(255, 255, 255, 0.02),
        0px 0px 21px rgba(255, 255, 255, 0.02),
        0px 0px 36px rgba(255, 255, 255, 0.03),
        0px 0px 57px rgba(255, 255, 255, 0.04);
        
    --col-accent:red;
    --col-button-red:green;//oklch(0.5 saturation(0.5) lightness(0.5));
    filter: invert(100%) contrast(92%);

    h3:first-child::before,
    .icon,
    button,
    input[type="button"],
    input[type="checkbox"],
    input[type="submit"],
    input[type="radio"],
    #menu-accessibility .skip-to-content{
        // filter: invert(100%) contrast(92%);
    }
    // change all icons to white
    // filter: invert(70%) sepia(55%) saturate(697%) hue-rotate(334deg) brightness(109%) contrast(92%);

    // try and made images slightly darker
    img { 
        // mix-blend-mode: multiply;
        filter:invert(100%) brightness(.8) contrast(1.2);
    }
    .icon {
        filter:brightness(0);
    }
    // main{
    //     background-color: var(--col-charcoal);
    // }
    svg.circle-of-fifths{
        filter:invert(100%);   
    }
    .circle-of-fifths-tonics{
        filter:invert(100%);   
    }
    .logo-drake-music{
        // filter: brightness(0%) invert(100%) ;
        filter: brightness(100%);
    }
    .logo-royal-society{
        filter: brightness(66%) ;
    }
}

// Black and white high contrast Colour theme
[data-theme="monochrome"]{
    color-scheme: dark only;
    --col-bg:var(--col-white, white);
    --col-text:var(--col-black, black);
    filter: grayscale(100%) contrast(112%);
    .piano{
        filter:invert(100%);
    }
    img { 
        // mix-blend-mode: multiply;
        filter:brightness(.8) contrast(1.2);
    }
}

// Low Colour theme
[data-theme="bright"]{
    color-scheme: light only;
    --col-bg:var(--col-white, white);
    --col-text:var(--col-black, black);
}

// High Colour theme
[data-theme="colourful"]{
    --col-bg:var(--col-white, white);
    --col-text:var(--col-black, black);
 
}