

@use '/node_modules/utopia-core-scss/src/utopia' as utopia;
:root{

    // mobile first
  @include utopia.generateTypeScale((
    "minWidth": 320,
    "maxWidth": 820,
    "minFontSize": 16,
    "maxFontSize": 22,
    "minTypeScale": 1.067,
    "maxTypeScale": 1.333,
    "positiveSteps": 5,
    "negativeSteps": 2,
    "prefix": "step-mobile-",
    "relativeTo": "viewport-width"
  ));

  // regular large size
  @include utopia.generateTypeScale((
    "minWidth": 820,
    "maxWidth": 1080,
    "minFontSize": 18,
    "maxFontSize": 28,
    "minTypeScale": 1.067,
    "maxTypeScale": 1.333,
    "positiveSteps": 5,
    "negativeSteps": 2,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  ));
    // above creates something along the lines of 
    // --step--2: clamp(0.7813rem, 0.5713rem + 1.05vw, 1.28rem);
    // --step--1: clamp(0.9375rem, 0.6586rem + 1.3947vw, 1.6rem);
    // --step-0: clamp(1.125rem, 0.7566rem + 1.8421vw, 2rem);
    // --step-1: clamp(1.35rem, 0.8658rem + 2.4211vw, 2.5rem);
    // --step-2: clamp(1.62rem, 0.9863rem + 3.1684vw, 3.125rem);
    // --step-3: clamp(1.944rem, 1.1178rem + 4.1311vw, 3.9063rem);
    // --step-4: clamp(2.3328rem, 1.2591rem + 5.3684vw, 4.8828rem);
    // --step-5: clamp(2.7994rem, 1.4081rem + 6.9561vw, 6.1035rem);
}


body{
    letter-spacing: 0.003px;
    line-height: 1.7;
    font-weight: lighter;
}

:is(h1,h2,h3,h4,h5,h6,header){
    // font-weight: bold;
    position: relative;

    &.underline{
        // margin-bottom: var(--pad);
        padding-bottom: calc( var(--pad) * 2);
       
        &::after{
            content: '';
            position: absolute;
            bottom:var(--pad);
            left:0;
            right:0;
            height:var(--stroke, 1px);
            width: 100%;
            background-color: var(--col-accent);
        }
        // border-bottom: 1px solid var(--col-border);
    }
}

.hide-overflow{
    :is(h1,h2,h3,h4,h5,h6,header).underline{
        &::after{
            left:calc(var(--space,1) * var(--pad));
            right:calc(var(--space,1) * var(--pad));
        }
    }
}

[data-countdown],
dt,
time,
strong{
    font-weight: bolder;
}

legend,
label,
em{
    font-style: italic;
    font-weight: 900;

    span,
    input,
    select,
    button{
        font-style: normal;
        font-weight: 500;
    }
}

option{
    font: inherit;
    text-transform: capitalize;
}

// .page header,
// hgroup{
//     margin-bottom:var(--pad);
// }

// Same sizes as Royal Society :D

h1 {
    font-size: clamp( 22px, 5vw, 33px);
    font-weight: 900;
    line-height: 1.2;
}

.h1 {
    font-size: var(--font-size-h1) ;
}

h2 {
    font-size: clamp( 18px, 4vw, 28px);
    line-height: 1.2;
}

.h2 {
    font-size: var(--font-size-h2);
    line-height: 1.2;
}

blockquote,
blockquote p ,
.h3,
h3{
    font-size: var(--font-size-h3);
    line-height: 1.2;
}
.h4,
h4{ 
    font-size: var(--font-size-h4);
    line-height: 1.3
}
p.flood{
    font-size: var(--font-size-h5);
}

.h5,
:is(article,section,div) > p:first-of-type:not([class]),
h5 {
    font-size: var(--font-size-h5);
    font-weight: bolder;
}

img,
summary,
summary > :is(h3,h4,h5,h6),
legend,
figcaption,
.h6,
h6 {
    font-size: var(--font-size-h6);
    font-weight: bolder;
}

p{
    font-size: var(--font-size-p);
    orphans:3;
    position: relative;
    margin:0;
}
details p:first-of-type:not([class]){
    font-size: var(--font-size-h5);
}

p + p{
    padding-top: calc(var(--pad));
}


blockquote{
    display: grid; 
    grid-template-columns: auto 1fr calc(var(--pad) * 2);
    grid-template-rows: 
        1fr 
        auto 
        auto
        1fr 
        ;

    grid-template-areas: 
        ". . ."
        "icon quote ."
        ". citation ."
        ". . .";   

    align-items: center;
    // align-content: end;
    // align-items: baseline;
    // justify-content: end;
    justify-items: center;
    gap: 0 var(--pad);

    &::before{
        content:'“';
        font-size: 360%;
        line-height: 1;
        color: var(--col-warm-grey-light);
        color: var(--col-plum);
        grid-area: icon;
    }

    p,
    .quote{
        grid-area: quote;
        padding: 0;
        margin: 0;
    }

    .citation{

        &::before{
            content:"—";
            color:var(--col-plum);
            margin-right:calc( var(--pad) / 2 );
        }
        
        font-size: 66%;
        text-align: right;
        grid-area: citation;
        padding: 0;
        margin: 0;
        margin-top: var(--pad);
    }
}


a:not(
    .cta, 
    .button-close 
) {
    color: var(--col-accent);

    &:focus-visible,
    &:hover{
        color: var( --col-plum, var(--col-red));
    }
}

em {
    // font-family: var(--font-primary-italic)
}

legend{
    text-align: center;
}

caption{
    text-align: left;
    font-style: italic;
    margin:var(--pad) 0;
}

.emoji{
    font-family: 'noto-emoji';
    font-size: 300%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    // try to make it look square
    line-height: 1.27;

    // to make it square
    // &::after{
    //     content:'';
    //     // padding-bottom: 100%;
    //     // width: 100%;
    //     // height: 0;
    // }
}


label .emoji{
    font-size: max(4cqi, 66px);
}

.notation{
    font-family: 'noto-music';
    font-size: 260%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

// Set font weights :
figcaption{
    // font-style: italic;
    // font-weight: bolder;
    color: inherit;
    line-height: 1.2;
}

address{
    text-align: left;

    .delimiter::after{
        content:'';
    //     display: inline-block;
    //     vertical-align: middle;
        // force line-break
        display: table;
    }
}