/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://www.cssmojo.com/hide-content-from-sighted-users/
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/

// allow these elements to break out of the columns to cover the whole width
// NB. this resets the column lengths :)

header, hgroup,
h1, h2, h3, h4, h5, 
blockquote, hr, details, aside, figure, form, blockquote, .flood {
    column-span: all; 
}

figure {
    break-after: column;
}

.bumpers{
	margin-top:var(--pad);
	margin-bottom:var(--pad);
}

.page{
    width:100%;
    padding:calc( 2 * var( --pad ));
   
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box; 
    background-color: inherit;
	// overflow: hidden;
	position: relative;
}

.fixed-width{
	max-width: var(--max-section-width, 1000px); 
	margin-left:auto;
    margin-right:auto;
	
}

.full-width{
    max-width: 100%;
	padding-left:0;
	padding-right:0;
}

.full-height{
    min-height: 100vh;
    min-height: 100dvh;
	background: inherit;
}

p.full-height{
    display: grid;
	place-items: center;
}

.viewport-height {
    height: 100%;
}

.bg-clear{
	background-color: transparent;
}

.bg{
	background-color: var(--col-bg);

	> *{
		background-color: inherit;
	}

	.sticky.full-height + p{
		&::before{
			content:'';
			position: absolute;
			bottom:100%;
			left:0;
			right: 0;
			background-image: linear(to top, transparent 0%, var(--col-bg) 100%);
			height: 25vh;
			display: block;
		}
	}
}

.bg-dark{
	background-color: var(--col-charcoal);
}

.tongue{
	border-top: var(--pad) solid var(--col-accent);
}


// 6 x 9 grid but we subdivide it for style
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
}


.grid-icon-menu{
    list-style: none;
    display: grid;

    grid-template-areas: 
        "icons"
        "texts";

	grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));

    	// $end:49;
	@for $i from 1 to 9 {
		li:nth-of-type(#{$i}){
			--i: calc(#{$i} - 1 );
            grid-area: icons;
		}
	}

    li a{
        color:transparent;
		text-align: center;
		display: block;
        img{
			--size:25%;
			--gap:calc(var(--pad) / 2);
            width:calc(var(--size) - var(--pad));
            margin-left:calc( var(--size) * var(--i) + var(--gap)  );
            margin-bottom:calc( var(--gap) );
			margin-right:0;
			padding: 0;
            border-radius: 999px;
            border:4px solid transparent;
			box-sizing: border-box;
        }

        &:hover,
        &:focus{
            border-color:var(--col-plum);
            color:var(--col-plum);
        }
    }
}


:is(
	a, button
).centralise{
	margin-left: auto;
	margin-right: auto;
}

.shadow{
	box-shadow: var(--shadow);
    // https://smoothshadows.com/#djEsMSw1LDAuMDgsMjQsMCwwLCMzMzMxMzIsI2U4ZTZkZiwjZmZmZmZmLDI%3D 
    // box-shadow: 
    //     0px 0px 1px rgba(51, 49, 50, 0.02),
    //     0px 0px 4px rgba(51, 49, 50, 0.03),
    //     0px 0px 9px rgba(51, 49, 50, 0.05),
    //     0px 0px 15px rgba(51, 49, 50, 0.06),
    //     0px 0px 24px rgba(51, 49, 50, 0.08);
}

// #teaser,
// .sticky + *:not(aside)
.wavey,
.square,
.sawtooth{
	--overhang:max(7vh, 88px);
    --scale:1;
    --density:2;

    // ensure the waves have space
    // padding-bottom: calc( var(--overhang) / 2 );
    margin-bottom: calc( var(--overhang) * 1.5 );
    margin-top: calc( var(--overhang) * 1.5 );
    
    &::after,
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: var(--overhang);
        left:0;
        display: block;
        
        background-color: inherit;
        // background-repeat: no-repeat;
        // background-position: top left;
        // background-size: contain;
        mask-size: calc(100% / var(--scale,1));
        mask-repeat: repeat-x;

        pointer-events: none;
        // opacity: 0.94;
        // filter:brightness(909);

        overflow: hidden;
        overflow: clip;
        //z-index: -1;
    }
    
    // wavy background and edges
    &::before{
        // margin-top:-10vh;
        // top:calc( var(--overhang) * -1 );
        // top: calc( var(--overhang) * -1 );
        bottom:calc( 100% - 1px * var(--density,1) );
        // background-image: url(/source/assets/wallpaper/wavey.svg);
        mask-image: url(/source/assets/wallpaper/wavey-top.svg);
        mask-position:center top;
    }
    // wavy background and edges
    &::after{
        top:calc( 100% - 1px * var(--density,1) );
        // bottom:calc( var(--overhang) * -2 );
        // background-image: url(/source/assets/wallpaper/wavey.svg);
        mask-image: url(/source/assets/wallpaper/wavey-bottom.svg);
        mask-position:center bottom;
    }

	> :first-child{
		padding-top: 0;
	}
}


p.sawtooth,
p.square,
p.wavey{
	padding-top: calc(var(--pad) * 4);
	padding-bottom: calc(var(--pad) * 4);
	background-color: var(--col-bg);
}

.sawtooth{
	&::before{  mask-image: url(/source/assets/wallpaper/sawtooth-top.svg); }
	&::after{  mask-image: url(/source/assets/wallpaper/sawtooth-bottom.svg); }
}
.square{
	&::before{  mask-image: url(/source/assets/wallpaper/square-top.svg); }
	&::after{  mask-image: url(/source/assets/wallpaper/square-bottom.svg); }
}

.x2{
   --scale:2;
}
.x3{
    --scale:3;
}
.x4{
    --scale:4;
}

.shadow.sawtooth,
.shadow.square,
.shadow.wavey{
	--opacity:0.02;

	filter: 
		drop-shadow( 0px 0px 2px rgba(51, 49, 50, calc( var(--opacity) + 0.01)) )
		drop-shadow( 0px 0px 9px rgba(51, 49, 50, calc( var(--opacity) + 0.02)) )
		drop-shadow( 0px 0px 21px rgba(51, 49, 50, calc( var(--opacity) + 0.02)) )
		drop-shadow( 0px 0px 36px rgba(51, 49, 50, calc( var(--opacity) + 0.03)) )
		drop-shadow( 0px 0px 57px rgba(51, 49, 50, calc( var(--opacity) + 0.04)) );

    &::before{
        box-shadow: inherit;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    }
    &::after{
        box-shadow: inherit;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    }
}

img.flood{
	height: calc( 100% - var(--footer-height,0) - var(--sticky-top, 0));
	width: auto;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top:0;
	transform: translateX(-50%);
}

// split into collumns
.split,
.split-2{

	--half:calc( ( var(--max-section-width)) / 2 );
    --margins:calc( 100% - var(--half) );
    --column-gap:calc( var(--pad) * 2 );

	// flex-grow:0;
    // flex-shrink:0;
    // flex-basis:100%;
    column-width: calc( var(--half) - ( var(--pad) * 4 ));
    // column-width: calc( var(--half) * 0.8 - var(--pad));
    column-gap: var(--column-gap);
    column-rule: 1px dotted var(--col-warm-grey-light);
}


.float{
	float: left;
}

.outside-leaning-polygon{
	shape-outside: polygon(-6.00% 106.19%, 95% 4.21%, 97% 38.31%, 34px 104.87%);
	margin-right:var(--pad);
}

.glyph-grid-list-char{
	user-select: all;
	color:inherit;
}

.icon-plus {
    // thickness
    --b: 10px;
    --col: #0000 90deg,#000 0; 
    --size:50px;
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1;
    background:
        conic-gradient(from 90deg at var(--b) var(--b),var(--col)) 
        calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
        calc(50%  + var(--b))   calc(50%  + var(--b));
}

.overflow-scroll-x {
    --g: radial-gradient(55% 20px, #0009, #0000);  

    overflow: auto;
    background: 
        linear-gradient(#fff 10px, #0000 40px calc(100% - 40px),#fff calc(100% - 10px)) local, 
        var(--g) left   /100% 200%,    
        var(--g) right/100% 200%;
}

.overflow-scroll-y {
    --g: radial-gradient(55% 20px, #0009, #0000);  

    overflow: auto;
    background: 
        linear-gradient(#fff 10px, #0000 40px calc(100% - 40px),#fff calc(100% - 10px)) local, 
        var(--g) top   /100% 200%,    
        var(--g) bottom/100% 200%;
}

.hidden-link{
	font-size: 0;
	color: transparent;
	transform: translateY(5px);
}

// only animate when in viewport
@media screen and (prefers-reduced-motion: no-preference) {
	.in-viewport{
		.animation-rock{
			--tilt:22deg;
			--duration:calc( 10 * 6s );
			transform-origin: center;
			animation: Rock var(--duration, 90ms) infinite var(--delay,0s) both ease-out;
		}	
	}
}

.text-scroller-vertical{
	line-height: 1.2;
	font-size: 2rem;
	display: grid;
	grid-template-areas: "lead trail";
	grid-template-columns: auto auto;
	column-gap: 1ch;//var(--pad);
	column-gap: 0.55ex;//var(--pad);
	// row-gap: var(--pad);
	margin-top: var(--pad);
	margin-bottom: var(--pad);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
	// Fade first item in
	// &::before{
	// 	content:'';
	// 	display: block;
	// 	grid-area: trail;
	// 	position: sticky;
	// 	height:calc( 50vh - 1lh );
	// 	top: 0%;
	// 	background-image: linear-gradient(to bottom, transparent, var(--col-bg) 50%);
	// 	z-index: 1;
	// }

	// fade out bottom ones
	&::after{
		content:'';
		display: block;
		grid-area: 1/1/-1/-1;
	
		height: max(5ch, 50vh);
		position: absolute;
		bottom: 0;
		// transform: translateY(50vh);
		width: 100%;
		left: 0;
		background-image: linear-gradient(to bottom, transparent, var(--col-bg) 66%);
		// background-color: red;
		z-index: 1;
	}

	h5{
		font-weight: 250;
		grid-area: lead;
		position: sticky;
		top:50%;
		bottom:calc(50% - .5lh);
		top: calc(50% - .5lh);
		align-self: start;
		justify-self: center;
		font-size: inherit;
		text-align: right;
		justify-self: end;
		// padding-bottom: calc( 50vh - 0.5lh );
		transform: translateY(calc(-100% + 1lh));
	}
	
	ul{
		grid-area: trail;
		list-style: none;
		padding:0;
	
		font-size: inherit;

		display: flex;

		flex-direction: column;
		gap:66vh;//var(--pad);

		&::after{
			content:'';
			padding-bottom: calc( 50vh - 0.5lh );
		}

		li{
			font-size: inherit;
			padding-bottom: 3lh;	// to shield other cptions
			// min-height: 66vh;
			top:50%;
			top: calc(50% - .5lh);
			// place-items: center;
			// place-content: center;
			// display: flex;
			position: sticky;
			width: 100%;
			background-color: var(--col-bg);
			// animation: Text-Scroller;
			// animation-range: calc(50% - .75lh) calc(50% + .75lh);
			// animation-timeline: view();
			// animation-fill-mode: both;
			scroll-snap-align: center;


			&::before{
				content:'';
				display: block;
				position: absolute;
				height:calc( 50vh - 1lh );
				bottom: 100%;
				left: 0;
				right: 0;
				background-image: linear-gradient(to bottom, transparent, var(--col-bg) 50%);
				z-index: 1;
			}

			

			&:first-of-type{
				&::before{
					display: none;
				};
			}
			&:last-of-type{
				padding-bottom: 0;//1lh;
				
			}
		}
	}
}

@supports (overflow: clip){

	.text-scroller-vertical{	
		// WE CANNOT USE overflow as this breaks sticky :(
		// overflow: hidden;
		// clip does work but isn't cross browser
		overflow:clip;
			
		// Fade other items in
		&::before{
			content:'';
			display: block;
			grid-area: trail;
			width: 100%;
			height: max(5ch, 50vh);
			position: sticky;

			top: 0%;
			// Prevent it from falling offf the bottom
			bottom:0;

			transform: translateY(50vh);
			// right:0;
			background-image: linear-gradient(to bottom, transparent, var(--col-bg));
			// background-color: red;
			z-index: 1;
		}
	}
}

@media screen and (min-width:800px){

	.text-scroller-vertical{
		h5{
			// height: 16.686%;	// hack
			transform: none;
		}
		ul{
			li{
				//padding-bottom: 0;
			}
		}
	}
}

.text-scroller-vertical + *{
	z-index: 2;
}

// sticky

.sticky{
	position: sticky;
    top:var(--sticky-top, 0);
	// z-index: -1;
}

// section .sticky ~ *:not(aside, .sticky){
// 	background-color: inherit;
// 	// padding-top: calc( 3 * var(--pad) );
// }

// see figure line 42


:is(h1, h2, h3, h4, h5, h6) > .sticky{
	display: block;
	// float:right;
}

   
// overlaying images...
.stackable{	
	> .sticky + *{
		background-color: var(--col-bg);
		// padding-bottom: calc( var(--pad) * 2 );
		// padding-top:  calc( var(--pad) * 2 );
		position: relative;
	}
    figure{
        //padding-top: var(--pad);
    }
	figure.sticky{
		background: transparent;
	}
}


ul.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit,  minmax(44px, 1fr) );
    gap: var(--pad);
	grid-auto-flow: dense;
	list-style: none;
	padding: 0;

	figure{
		display: grid;
		grid-template-areas: "stuff";
		border:0;
		padding:0;
		margin: 0;
		> picture,
		> img{
			grid-area:stuff;
			max-width: 100%;
		}
		figcaption{
			grid-area:stuff;
			padding:0;
			margin: 0;
			background-color: transparent;
			color: transparent;
			z-index: 1;
		}
		&:hover{
			figcaption{
				color: var(--col-accent);
			}
		}
	}
	
	&:nth-child(3n) {
		grid-column: span 4;
		background-color: #12cc12;
	}
 
	&:nth-child(5n) {
		grid-column: span 3;
		background-color: #f5ecec;
	}
 
	&:nth-child(7n) {
		grid-column: span 2;
		background-color: #f35810;
	}
}



[hidden]{
	display:none !important;
}

[inert]{
	pointer-events: none;
}