<section id="amic" class="bg-clear">
    <article class="page shadow wavey bg" data-readable>
        <header class="underline">
            <!-- <h3 class="heading-icon">Engage</h3> -->
            <h4>Accessible Music Instrument Collection, <abbr title="Accessible Musical Instrument Collection">AMIC</abbr></h4>
        </header>

        <ul role="list">
            <li>
                <p>A ground-breaking national collection, representing state-of-the-art of accessible instrument design.</p>
            </li>
            <li>
                <p>A world-class resource for Disabled people to explore technological possibilities for making music.</p>
            </li>
            <li>
                <p>A focal point for the development of cutting-edge accessible instrument technology.</p>
            </li>
        </ul>
        
        <figure id="photo-amic" class="" role="figure" aria-label="photo-amic-label">
            <img loading="lazy" width="613" height="409" src="/source/assets/photos/john_kelly presenting some accessible musical instruments.jpg" alt="John Kelly playing some accessible musical instruments.">
            <figcaption id="photo-amic-label">
                Rock n roll legend, John Kelly on stage playing some accessible musical instruments
            </figcaption>
        </figure>
        
        <details>
            <summary>
                <h5>Accessible Musical Instrument Collection</h5>
            </summary>
            <p>
                Access to the right musical instruments and technology can be powerful and transformative.
            </p>
            
            <p>
                As well as establishing a collection of existing accessible tech, the <abbr title="Accessible Musical Instrument Collection">AMIC</abbr> will commission and support the creation of the next generation of accessible instruments.
                The Collection will be as varied as possible, from high-end commercial instruments through to DIY experimental prototypes and bespoke instruments.
            </p>
            
            <p>We will continue to build the collection as new instruments come to light, working with makers, hackers and music tech companies to make sure it reflects the most up to date technology.
                <abbr title="Accessible Musical Instrument Collection">AMIC</abbr> will be housed in an accessible space at Drake Music’s HQ and will be available to visit. 
                Disabled musicians will be able to visit the collection, test out different instruments using an accessible workstation and (hopefully) find one which suits them. Makers can come and be inspired or see what has already been built. Academics can call upon it for research and teachers can explore options for their students.
            </p>
        </details>
        
        <a class="cta" href="https://accessiblemusicalinstrumentcollection.org/case_studies/photosynth/">Learn more on the AMIC Website</a>

    </article>
</section>