<aside id="biography">

    <picture class="float">
        <source srcset="/source/assets/figures/zen-comic-portrait.png?as=avif&width=1024" type="image/avif" />
        <source srcset="/source/assets/figures/zen-comic-portrait.png?as=webp&width=1024" type="image/webp" />
        <source srcset="/source/assets/figures/zen-comic-portrait.png?width=1024" type="image/jpeg" />
        <img loading="lazy" class="float comic" width="1852" height="2883" src="/source/assets/figures/zen-comic-portrait.png?width=1024" alt="Photograph of zen Olenski.">
    </picture>

    <p>
        The PhotoSYNTH is the result of a long term collaboration between Drake Music's legendary research and development team DMLab, and Zenon Olenski from Awesomething Social Enterprise. 
        Together they have made magical musical bowler hats, beard organs, a whole lotta gloves, and various other experimental interfaces, some of which have ended up in the hands of disabled artists and musicians in studios, bedrooms and classrooms around the world.
    </p> 
    <!-- <img class="logo" width="100" height="100" src="/source/assets/logos/photosynth.svg" alt="PhotoSYNTH logo.">
    <img class="logo" width="100" height="100" src="/source/assets/logos/awesomething-logo.svg" alt="Awesomething Social Enterprise."> -->
    
</aside>