<script locals>
    let randomUUID = "gallery"+Math.random().toString(36).substring(2, 15) + ""
    module.exports = {
       ...locals,
        id: locals.id || randomUUID,
        events:[
            {
                src:"/source/assets/photos/science-media-museum/church-wide.jpg",
                width:4036,
                height:3024,
                caption:"Science+ Media Museum",
                link:"Science+ Media Museum",
                href:"science-media-museum.html",
                date:"October 30<sup>th</sup>, 2025"
            },
            {
                src:"/source/assets/photos/science-media-museum/church-wide.jpg",
                width:4036,
                height:3024,
                caption:"Victoria & Albert Museum",
                link:"Victoria & Albert Museum",
                href:"v&a.html",
                date:"October 27<sup>th</sup> to 30<sup>th</sup>, 2025"
            },
            {
                src:"/source/assets/photos/adc/adc.jpg",
                width:1280,
                height:720,
                caption:"ADC Poster Session, 2025",
                link:"ADC Poster Session",
                href:"adc.html",
                date:"November 11-12<sup>th</sup>, 2025"
            },
            {
                src:"/source/assets/photos/venue/Froggy - 2025-07-13 - Accessible Entrance.jpg",
                width:1280,
                height:720,
                caption:"Royal Society Summer Exhibition, 2025",
                link:"Royal Society Summer Exhibition",
                href:"royal-society.html",
                date:"July 2025"
            },
            {
                src:"/source/assets/photos/media-city/media_city_installation.jpg",
                width:1280,
                height:720,
                caption:"Beyond 2024, Media City Installation",
                link:"Beyond 2024 - Media City Installation",
                href:"poster.html",
                date:"November 2024"
            },
            {
                src:"/source/assets/photos/emf/EMF Tent Setup.jpg",
                width:1280,
                height:720,
                caption:"PhotoSYNTH 4D at EMF Camp, 2024",
                link:"EMF Camp",
                href:"poster.html",
                date:"August 2024"
            }
        ]
    }
</script>

<ol class="event-list">
    <each loop="event, index in events">
        <li>
            <a href="{{event.href}}">
                <picture 
                    class="event-image">
                    <source srcset="{{event.src}}?as=avif&width={{width}}" type="image/avif" />
                    <source srcset="{{event.src}}?as=webp&width={{width}}" type="image/webp" />
                    <source srcset="{{event.src}}?as=jpg&width={{width}}" type="image/jpeg" />
                    <img 
                        loading="{{loading}}"
                        src="{{event.src}}?width={{width}}" 
                        width="{{width}}" 
                        height="{{height}}" 
                        alt="{{caption}}" />
                </picture>

                <table class="event-calendar">
                    <tbody>
                        <tr>
                            <th class="sr-only">Title</th>
                            <td>{{{event.caption}}}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{{event.link}}}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{{event.date}}}</td>
                        </tr>
                    </tbody>
                </table>
            </a>

        </li>
    </each>

<!--   
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="adc.html">ADC Poster Session</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>November 11-12<sup>th</sup> 2025</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="royal-society.html">Royal Society Summer Exhibition</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>July 2025</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="poster.html">Media City Installation</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>November 2024</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="poster.html">EMF Camp</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>August 2024</td>
        </tr>
      </tbody>
    </table>
  </li> -->
</ol>