<ol class="event-list">
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="science-media-museum.html">Science+ Media Museum</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>October 30<sup>th</sup>, 2025</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>Exhibition Halls, Café, Shop</td>
        </tr>
        <tr>
          <th>Facilities</th>
          <td>Step-free access, Accessible toilets, Visual guides</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="adc.html">ADC Poster Session</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>November 11-12<sup>th</sup> 2025</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>Lecture Hall, Refreshments</td>
        </tr>
        <tr>
          <th>Facilities</th>
          <td>Step-free access, Accessible seating</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="royal-society.html">Royal Society Summer Exhibition</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>July 2025</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>Toilets, Café, Quiet Space, Family Area</td>
        </tr>
        <tr>
          <th>Facilities</th>
          <td>Step-free access, Accessible toilets, Hearing loop</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="poster.html">Media City Installation</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>November 2024</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>Parking, Café, Rest Area</td>
        </tr>
        <tr>
          <th>Facilities</th>
          <td>Wheelchair access, Accessible parking</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <table class="event-calendar">
      <tbody>
        <tr>
          <th>Location</th>
          <td><a href="poster.html">EMF Camp</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>August 2024</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>Camping, Food Stalls, Showers</td>
        </tr>
        <tr>
          <th>Facilities</th>
          <td>Accessible paths, Assistance available</td>
        </tr>
      </tbody>
    </table>
  </li>
</ol>