<section id="research" class="bg-clear" data-observe>

    <!-- Research ------------------------------------------- -->
    <article id="research-topics" class="page split square shadow bg" data-readable  data-observe>
        <header class="underline">
            <h3 class="heading-icon">Research</h3>
            <h4>Everyday People</h4>
        </header>
            
        <p>
            Everybody is different and unique. 
            Some people have incredible memories and can vividly remember past events, whilst some people forget where they put their house keys every day. 
            Some people remain laser focussed while others' brains begin to womble off.
        </p>
        <p>
            <em>Everybody has their own talents and their limitations.</em>
        </p>

        <p><strong>Everybody is differently abled.</strong></p>
        
        <p>
            The diversity in human abilities has supported humanity by approaching problems from different perspectives and finding creative new ways of solving them.
        </p>
        <p>
            Diversity is a human strength, and differences are powerful.
        </p>
        <p>
            If everybody did the same things in the same fashion, 
            everything would be a sea of uneventful nothingness, 
            devoid of character, charm and appeal,  
            where nothing new or exciting ever happens.
        </p>
        <!-- <p>Creativity lies at the intersection of inspiration and expression, and innovations form to facilitate them.</p> -->
        <p>
            Some people have a natural talent for music whilst others struggle to play a note.
        </p>

        <p>We should celebrate our differences through the universal language of music and dance!</p>
        
        <p>
            <strong class="question">
                Could technology help us to create a world where everyone can jam together?...
            </strong>
        </p>

        <blockquote class="viewport-height">
            <p><em>What a wonderful world it would be!</em></p>
        </blockquote>

        <p>One area that has seen much research is using <em>neural networks and machine learning</em> to attempt to determine intentions from emotions and motions in realime, in order to augment existing skills with new musical abilities and super-powers.</p>
        <p>By piggybacking onto intrinsic movements, that come naturally, a performance can be both expressive and communicative, where the dance leads the music.
            
        This could be as simple as binding musical actions to hand movements, or as sophisticated as a collaborative multiplayer face controlled pop-music factory that learns how to play you!</p>

    </article>

        <blockquote class="viewport-height">
        <p class="quote">Music is an unconscious exercise in communication in which the mind is unaware that it is being guided.</p>
        <p class="citation sr-only">zen Olenski <cite></cite></p>
    </blockquote>
    
    <!-- AMIC ------------------------------------------- -->
    <article class="page sawtooth shadow bg" id="laboratory" observe>

        <div class="split">

            <header class="underline">
                <h3 class="heading-icon">#DMLab</h3>
                <h4>#Drake Music Laboratory, research and development arm</h4>
            </header>

            <p>A Celebration of diversity & Inclusion.</p>
        
            <p>
                Over 14 years, working directly with researchers, scientists, technologists, Disabled artists and even people with no musical abilities, #DMLab has been researching ways to grant musical superpowers through research and technology.
            </p>
        
            <p>
                The DMLab workshop originally started in London over a decade ago and still runs today, but there is also now a Manchester branch. 
                Bringing together people with technical knowledge and people with disabilities, and different abilities, to work together to research and develop new ways of interacting with technology in order to make music.
            </p> 
        
            <p>If you would like to participate in this research or attend lab or AMIC, get in touch!</p>
            <!-- <p>Curiosity killed the cat, but also helped create world changing research.</p> -->
        
        </div>

        <details id="lab-venue-details">

            <summary>
                <h5>#DMLab Events and Workshops details</h5>
            </summary>
            
                <!-- <iframe class="map" width="1080" height="540" src="https://www.openstreetmap.org/?mlat=51.524128&mlon=-0.073079#map=19/51.524128/-0.073079"></iframe> -->
            
            <dl id="lab-venue-london" class="data-address">
            
                <dt>London Venue</dt>
                <dd>DMLab RichMix</dd>

                <dt>Address</dt>
                <dd class="address">
                    <address>
                        <span class="street-address">35-47 Bethnal Green Rd</span>
                        <span class="delimiter">,</span>
                        <span class="town">Shoreditch</span>
                        <span class="delimiter">,</span>
                        <span class="locality">London</span>
                        <span class="delimiter">,</span>
                        <span class="postal-code">E1 6LA</span>
                        <span class="country-name">United Kingdom</span>
                    </address>
                </dd>
            </dl>

            <dl id="lab-venue-manchester" class="data-address">
            
                <dt>Manchester Venue</dt>
                <dd>School of Digital Arts SODA</dd>

                <dt>Address</dt>
                <dd class="address">
                    <address>
                        <span class="street-address">35-47 Bethnal Green Rd</span>
                        <span class="delimiter">,</span>
                        <span class="town">Shoreditch</span>
                        <span class="delimiter">,</span>
                        <span class="locality">London</span>
                        <span class="delimiter">,</span>
                        <span class="postal-code">E1 6LA</span>
                        <span class="country-name">United Kingdom</span>
                    </address>
                </dd>
            </dl>

            <dl id="lab-contact" class="data-contact">
                <dt>Telephone</dt>
                <dd class="tel"><a href="tel:02077395444">020 7739 5444</a></dd>
                
                <dt>Email</dt>
                <dd class="email"><a href="mailto:info@drakemusic.org">info@drakemusic.org</a></dd> 
        
                <dt id="social-media">Social Media</dt>
                <dd class="social-media">
                    <ul >
                        <li>
                            <a class="socials-twitter" href="http://www.twitter.com/drake_music" rel="noopener noreferrer" target="_blank">
                            Twitter / X
                            </a>
                        </li>
                    
                        <li>
                            <a class="socials-facebook" href="http://www.facebook.com/drakemusicorg" rel="noopener noreferrer" target="_blank">
                            Facebook
                            </a>
                        </li>
                    
                        <li>
                            <a class="socials-instagram" href="http://www.instagram.com/drakemusicorg" rel="noopener noreferrer" target="_blank">
                            Instagram
                            </a>
                        </li>
                    
                        <li>
                            <a class="socials-youtube" href="https://www.youtube.com/user/drakemusicorg/featured" rel="noopener noreferrer" target="_blank">
                            YouTube
                            </a>
                        </li>
                    
                        <li>
                            <a class="socials-soundcloud" href="http://www.soundcloud.com/drake_music" rel="noopener noreferrer" target="_blank">
                            SoundCloud
                            </a>
                        </li>
                    </ul>    
                </dd>
            </dl>
        </details>

    </article>

</section>
