<section id="event" class="sawtooth shadow" data-observe >
    
    <!-- Event ------------------------------------------- -->
    <article id="summary" class="page split" data-readable>

        <header class="underline">
            <h3 class="heading-icon">Audio Developer Conference</h3>
            <h4>Ever dreamed of being more musical?<br>Well alright... Hold tight!</h4>
        </header>

        <!-- <p>If you've ever dreamed of being more musical, you're not alone!</p> -->
    
        <p class="box h6">
            <img class="icon float outside-leaning-polygon" width="100" height="100" src="/source/assets/icons/hearing-loop.svg" alt="Hearing loop enabled venue.">
            The exhibition will feature a series of interactive installations, hands-on demonstrations, musical performances and talks.
        </p>
    </article>

    <!-- Description & Event details -->
    <aside id="details" class="">
        
        <figure class="full-width bg-clear" role="figure" aria-label="">
            
            <figcaption id="button-cast-spell-caption">Summer Science Exhibition 2025 Details</figcaption>

            <button 
                aria-labelledby="button-cast-spell-caption"
                type="button" 
                id="button-cast-spell">
                <img 
                    loading="lazy"
                    width="909" height="909"
                    src="/source/assets/figures/instant-musical-superpowers-red-square.svg" 
                    alt="Instant Musical Superpowers!">
                <audio 
                    id="audio-spell" 
                    src="/source/assets/audio/fx/spells/magic-mallet-6262.mp3" preload="auto"></audio>
            </button>
        
            <dl class="data-address">
                <dt>Start</dt>
                <dd><time datetime="2025-11-10 09:00">November 10<sup>th</sup>, 2025</time></dd>

                <dt>End</dt>
                <dd><time datetime="2025-11-12 20:00">November 12<sup>th</sup>, 2025</time></dd>

                <dt>Venue</dt>
                <dd>ADC Bristol - Delta Hotels by Marriott</dd>

                <dt>Address</dt>
                <dd class="address">
                    <a href="https://audio.dev/travel/">
                        <address>
                            <span class="street-address">2 Lower Castle St</span><span class="delimiter">, </span><span class="locality">Bristol</span><span class="delimiter">, </span><span class="postal-code">BS1 3AD</span><span class="delimiter">, </span><span class="country-name">United Kingdom</span>
                        </address>
                    </a>
                </dd>
    
                <dt>Location</dt>
                <dd><a href="#venue">Marriott Bristol</a></dd> 

                <dt>Category</dt>
                <dd>Exhibition</dd>
            </dl>
        
        </figure>
    
    </aside>

    <article id="venue" class="page">
        
        <header>
            <h4>Located in the Delta Hotel in Bristol</h4>
        </header>

        <p>
             Marriott
        </p>

        <include 
            src="./source/partials/map.html" 
            locals='{ 
                "venue":   "Delta Hotels by Marriott Bristol City Center",
                "frame":   "https://www.openstreetmap.org/export/embed.html?bbox=-2.5889217853546147%2C51.453926682844084%2C-2.580521106719971%2C51.458205270921866&amp;layer=mapnik",
                "link":    "https://www.openstreetmap.org/?#map=17/51.456068/-2.584724",
                "address": "2 Lower Castle St, Bristol BS1 3AD, United Kingdom"
            }'>
        </include>

        <details>
            <summary><h6>Getting there</h6></summary>
            <p>
                Bristol is located 120 mi. from London and easily accessible via train. 
                Bristol Airport is an international airport and is 8 mi. from Bristol city centre.        
            </p>
        </details>

        <a href="https://audio.dev/conference/" class="cta">Learn more at the official Royal Society Summer Exhibition website</a>
        
    </article>
</section>