<section id="event" class="sawtooth shadow" data-observe >
    
    <!-- Event ------------------------------------------- -->
    <article id="summary" class="page split" data-readable>

        <header class="underline">
            <h3 class="heading-icon">Summer Science Exhibition 2025</h3>
            <h4>Ever dreamed of being more musical?<br>Well alright... Hold tight!</h4>
            <div data-countdown class="flood">
                <time datetime="2025-07-01 09:00">July 1<sup>st</sup>, 2025</time>
            </div>

        </header>

        <p>The Summer Science Exhibition is a free six-day festival showcasing the science shaping our future and will be held at the Royal Society in London from 
            <time datetime="2025-07-01 09:00">July 1<sup>st</sup></time>
            to 
            <time datetime="2025-07-07 09:00">July 6<sup>th</sup>, 2025</time>.
        </p>
    
        <!-- <p>If you've ever dreamed of being more musical, you're not alone!</p> -->
        
        <p>Come and join us for a fun musical celebration of inclusive technology, play with some of the newest instruments from the <a href="#amic">Accessible Music Instrument Collection</a> and learn all about the research and science that made them possible.</p>
        
        <p class="box h6">
            <img class="icon float outside-leaning-polygon" width="100" height="100" src="/source/assets/icons/hearing-loop.svg" alt="Hearing loop enabled venue.">

            The exhibition will feature a series of interactive installations, hands-on demonstrations, musical performances and talks.
        </p>
    
            <!-- <h4>Come and join us for a fun musical celebration of diversity, inclusive technology and science!</h4> -->
    </article>

    <!-- Description & Event details -->
    <aside id="details" class="">
        
        <figure class="full-width bg-clear" role="figure" aria-label="">
            
            <figcaption id="button-cast-spell-caption">Summer Science Exhibition 2025 Details</figcaption>

            <button 
                aria-labelledby="button-cast-spell-caption"
                type="button" 
                id="button-cast-spell">
                <img 
                    loading="lazy"
                    width="909" height="909"
                    src="/source/assets/figures/instant-musical-superpowers-red-square.svg" 
                    alt="Instant Musical Superpowers!">
                <audio 
                    id="audio-spell" 
                    src="/source/assets/audio/fx/spells/magic-mallet-6262.mp3" preload="auto"></audio>
            </button>
        
            <dl class="data-address">
                <dt>Start</dt>
                <dd><time datetime="2025-07-01 09:00">July 1<sup>st</sup>, 2025</time></dd>

                <dt>End</dt>
                <dd><time datetime="2025-07-06 09:00">July 6<sup>th</sup>, 2025</time></dd>

                <dt>Venue</dt>
                <dd>Royal Society</dd>

                <dt>Address</dt>
                <dd class="address">
                    <a href="https://royalsociety.org/about-us/contact-us/carlton-house-terrace-london/">
                        <address>
                            <span class="street-address">6-9 Carlton House Terrace</span><span class="delimiter">, </span><span class="locality">London</span><span class="delimiter">, </span><span class="postal-code">SW1Y 5AG</span><span class="delimiter">, </span><span class="country-name">United Kingdom</span>
                        </address>
                    </a>
                </dd>
    
                <dt>Location</dt>
                <dd><a href="#venue">London</a></dd> 

                <dt>Category</dt>
                <dd>Exhibition</dd>
            </dl>
        
        </figure>
    
    </aside>

    <!-- Venue -->
    <article id="venue" class="page">
        <header>
            <h4>Located in the heart of London</h4>
        </header>

        <p>
            Between Buckingham Palace and Trafalgar Square, the Royal Society is located in a fully accessible building that is wheelchair friendly and has hearing loops enabled, quiet spaces and a cafe. 
        </p>

        <details>
            <summary>
                <h5>Show full facilities</h5>
                <!-- <img class="icon" src="/source/assets/icons/local_dining.svg" width="44" height="44" alt="Canteen on site."> -->
                <img class="icon" src="/source/assets/icons/dining.svg" width="44" height="44" alt="Canteen on site.">
                <img class="icon" src="/source/assets/icons/accessible-24px.svg" width="44" height="44" alt="Wheelchair accessible venue.">
                <img class="icon" src="/source/assets/icons/hearing-loop.svg" width="44" height="44" alt="Hearing loop enabled venue.">
                <img class="icon" src="/source/assets/icons/accessibility_new-24px.svg" width="44" height="44" alt="Accessible floors.">
                <img class="icon" src="/source/assets/icons/pets.svg" width="44" height="44" alt="Working dogs welcome.">
                <img class="icon" src="/source/assets/icons/noise_aware.svg" width="44" height="44" alt="Quiet room.">
            </summary>

            <figure id="facilities" role="figure" aria-label="">
                <figcaption>Available facilities</figcaption>

                <table>
                    <caption>Please contact the Royal Society via email if you have any special requirements.</caption>
                    
                    <tr class="wheelchair-accessible">
                        <th class="heading-icon">Wheelchair accessible</th>
                        <td>There is both a wheelchair ramp and a wheelchair lift at the entrance.
                            The interior is wheelchair accessible with large lifts and a powerchair elevator.</td>
                    </tr>
                        <tr class="accesible-floors">
                        <th class="heading-icon">Lifts, elevators and stairs</th>
                        <td>Lifts are available for access to the basement level or first floor. There is step-free access.</td>
                    </tr>
                    <tr class="hearing-loop">
                        <th class="heading-icon">Hearing loop</th>
                        <td>
                            Frequencies may change depending on which exhibition and will be displayed on signs around the event.
                            <!-- <img class="icon float outside-leaning-polygon" width="100" height="100" src="/source/assets/icons/hearing-loop.svg" alt="Hearing loop enabled venue."> -->
                        </td>
                    </tr>
                    
                    <tr class="signage">
                        <th class="heading-icon">Signage</th>
                        <td>There will be well lit signage in simple language to guide your day as well as floor plans and an information pack. </td>
                    </tr>
                    <tr class="dogs">
                        <th class="heading-icon">Guide dogs</th>
                        <td>The building welcomes helpful animals and will provide water in bowls by the entrance and faces a small park where you can take your dog.</td>
                    </tr>
                    <tr class="toilets">
                        <th class="heading-icon">Accessible toilet</th>
                        <td> There is an accessible toilet on the ground floor behind the reception area and an ambulant toilet in the basement. 
                            There are baby changing facilities in all the toilets in the basement and in the accessible toilet behind reception. 
                            Please note that the baby change facilities in the accessible toilets should only be used by parents/carers that specifically require the use of an accessible toilet, as baby changes facilities are available elsewhere.</td>
                    </tr>
                    <tr class="quiet-space">
                        <th class="heading-icon">Quiet space</th>
                        <td>There is a quiet room on the ground floor next to the marble hall. <em>Please ask the reception desk if you need access to this space.</em></td>
                    </tr>
                </table>
                
            
            </figure>
        </details>
        
        
    
        <figure role="figure" class="venue-address" aria-label="" >
    
            <iframe class="map" width="1080" height="540" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.1344162225723267%2C51.50472238057011%2C-0.1302212476730347%2C51.506889393716634&amp;layer=mapnik"></iframe>
            <a class="link-map" href="https://www.openstreetmap.org/?#map=18/51.505806/-0.132319">View Larger Map</a>
            <figcaption>
                The Royal Society is located at :
                <address>
                    6-9 Carlton House Terrace, London, SW1Y 5AG, United Kingdom
                </address>                       
            </figcaption>

        </figure>
        <details>
            <summary><h6>Getting there</h6></summary>
            <p>
                Underground stations: Charing Cross and Piccadilly Circus
                Bus routes: 12, 13, 15 and 453.
                Coach station: Connections from Victoria coach station
                
            </p>
        </details>
        <a href="https://royalsociety.org/science-events-and-lectures/summer-science-exhibition/" class="cta">Learn more at the official Royal Society Summer Exhibition website</a>
    
        <div class="box" id="share-menu" hidden>
            <h6>Tell your friends and family about the event!</h6>
            <share-menu
                id="share"
                title="Share!"
                text="Share this event"
                url="https://photosynth/"
                image="https://photosynth/assets/logos/photosynth-square.svg"
                dialog-title="Share now"
                copy-hint="Copy to clipboard"
                handle="always"
                no-backdrop
                >
                <share-target-email></share-target-email>
                <share-target-facebook></share-target-facebook>
                <share-target-telegram></share-target-telegram>
            </share-menu>

            <label class="button-share-label">
                <span class="sr-only">Quick share</span>
                <button class="button-share" onclick="share.share()">
                    Share this site
                </button>
            </label>
            
                <!-- <a href="https://photosynth.lol">
                <img class="qr" src="/source/assets/diagrams/qr-photosynth_lol.svg" width=256 height=256 alt="QR code for sharing this site"/>
            </a> -->
        </div>
    </article>
</section>