<section id="event" class="sawtooth shadow" data-observe >
    
    <!-- Event ------------------------------------------- -->
    <article id="summary" class="page split" data-readable>

        <header class="underline">
            <h3 class="heading-icon">Audio Developer Conference</h3>
            <h4>Ever dreamed of being more musical?<br>Well alright... Hold tight!</h4>
        </header>

        <!-- <p>If you've ever dreamed of being more musical, you're not alone!</p> -->
    
        <p class="box h6">
            <img class="icon float outside-leaning-polygon" width="100" height="100" src="/source/assets/icons/hearing-loop.svg" alt="Hearing loop enabled venue.">
            The exhibition will feature a series of interactive installations, hands-on demonstrations, musical performances and talks.
        </p>
    </article>

    <!-- Description & Event details -->
    <aside id="details" class="">
        
        <figure class="full-width bg-clear" role="figure" aria-label="">
            
            <figcaption id="button-cast-spell-caption">Summer Science Exhibition 2025 Details</figcaption>

            <button 
                aria-labelledby="button-cast-spell-caption"
                type="button" 
                id="button-cast-spell">
                <img 
                    loading="lazy"
                    width="909" height="909"
                    src="/source/assets/figures/instant-musical-superpowers-red-square.svg" 
                    alt="Instant Musical Superpowers!">
                <audio 
                    id="audio-spell" 
                    src="/source/assets/audio/fx/spells/magic-mallet-6262.mp3" preload="auto"></audio>
            </button>
        
            <dl class="data-address">
                <dt>Start</dt>
                <dd><time datetime="2025-07-01 09:00">July 1<sup>st</sup>, 2025</time></dd>

                <dt>End</dt>
                <dd><time datetime="2025-07-06 09:00">July 6<sup>th</sup>, 2025</time></dd>

                <dt>Venue</dt>
                <dd>Royal Society</dd>

                <dt>Address</dt>
                <dd class="address">
                    <a href="https://royalsociety.org/about-us/contact-us/carlton-house-terrace-london/">
                        <address>
                            <span class="street-address">6-9 Carlton House Terrace</span><span class="delimiter">, </span><span class="locality">London</span><span class="delimiter">, </span><span class="postal-code">SW1Y 5AG</span><span class="delimiter">, </span><span class="country-name">United Kingdom</span>
                        </address>
                    </a>
                </dd>
    
                <dt>Location</dt>
                <dd><a href="#venue">London</a></dd> 

                <dt>Category</dt>
                <dd>Exhibition</dd>
            </dl>
        
        </figure>
    
    </aside>
</section>