<section id="event" class="sawtooth shadow" data-observe >
    
    <!-- Event ------------------------------------------- -->
    <article id="summary" class="page split" data-readable>

        <header class="underline">
            <h3 class="heading-icon">1st International Meeting of the Musical Metaverse</h3>
            <h4>Ever dreamed of being more musical?<br>Well alright... Hold tight!</h4>
        </header>

        <p>The so-called Metaverse relates to a vision of a virtual, digital world which is parallel to the real, physical world, where each user owns and interacts through his/her own avatar. Music is one of the possible activities that can be conducted in such a space.</p>
        
        <p>The “Musical Metaverse”, the metaverse part which is dedicated to musical activities, is currently in its infancy, although is a concept that is constantly evolving and is progressing at a steady pace. The Musical Metaverse is an emerging topic in communications as well as in human-computer interaction. To date, scarce research has been conducted on how to integrate networking systems with Musical XR systems.</p>
    
        <p class="box h6">
            <img class="icon float outside-leaning-polygon" width="100" height="100" src="/source/assets/icons/hearing-loop.svg" alt="Hearing loop enabled venue.">
            The exhibition will feature a series of interactive installations, hands-on demonstrations and talks.
        </p>
    </article>

    <!-- Description & Event details -->
    <aside id="details" class="">
        
        <figure class="full-width bg-clear" role="figure" aria-label="">
            
            <figcaption id="button-cast-spell-caption">1<sup>st</sup> International Meeting of the Metaverse Details</figcaption>

            <button 
                aria-labelledby="button-cast-spell-caption"
                type="button" 
                id="button-cast-spell">
                <img 
                    loading="lazy"
                    width="909" height="909"
                    src="/source/assets/figures/instant-musical-superpowers-red-square.svg" 
                    alt="Instant Musical Superpowers!">
                <audio 
                    id="audio-spell" 
                    src="/source/assets/audio/fx/spells/magic-mallet-6262.mp3" preload="auto"></audio>
            </button>
        
            <dl class="data-address">
                <dt>Start</dt>
                <dd><time datetime="2024-07-01 09:00">July 1<sup>st</sup>, 2025</time></dd>

                <dt>End</dt>
                <dd><time datetime="2024-07-06 09:00">July 6<sup>th</sup>, 2025</time></dd>

                <dt>Venue</dt>
                <dd>IEEE</dd>

                <dt>Address</dt>
                <dd class="address">
                    <a href="https://metaversereality.ieee.org/">
                        <address>
                            <span class="street-address">Fraunhofer Institute for Integrated Circuits IIS</span><span class="delimiter">, </span><span class="locality">Erlangen</span><span class="delimiter">, </span><span class="country-name">Germany</span>
                        </address>
                    </a>
                </dd>
    
                <dt>Location</dt>
                <dd><a href="#venue">Fraunhofer Institute for Integrated Circuits IIS, Nuremburg</a></dd> 

                <dt>Category</dt>
                <dd>Conference</dd>
            </dl>
        
        </figure>
    
    </aside>


    
    <!-- Venue -->
    <article id="venue" class="page">
        <header>
            <h4>Located at the Fraunhofer Institute for Integrated Circuits IIS in the city of Erlangen, Germany.</h4>
        </header>

        <p>The aim of the workshop is to bring together academics and industry to investigate and advance the development of systems at the confluence of Musical XR and networking, as well as the understanding of human perception in immersive, networked contexts.</p>

        <include 
            src="./source/partials/map.html" 
            locals='{ 
                "venue":   "The International Meeting of the Musical Metaverse",
                "frame":   "https://www.openstreetmap.org/export/embed.html?bbox=7.832999825477601%2C48.00850836172603%2C7.837200164794923%2C48.01080520930049&amp;layer=mapnik",
                "link":    "https://www.openstreetmap.org/#map=18/48.009657/7.835101",
                "address": "Fraunhofer Institute for Integrated Circuits IIS, Erlangen, Germany"
            }'>
        </include>
        
        <a href="https://metaversereality.ieee.org/events/" class="cta">Learn more at the official IEEE International Meeting of the Metaverse Website</a>
            
    </article>

      
</section>