<section id="event" class="sawtooth shadow" data-observe >
    
    <!-- Event ------------------------------------------- -->
    <article id="summary" class="page split" data-readable>

        <header class="underline">
            <h3 class="heading-icon">Electromagnetic Fields Festival 2024</h3>
            <h4>Ever dreamed of being more musical?<br>Well alright... Hold tight!</h4>
        </header>

        <p> Electromagnetic Field is a non-profit camping festival for those with an inquisitive mind or an interest in making things: hackers, artists, geeks, crafters, scientists, and engineers.</p>

        <p>A temporary town of nearly three thousand like-minded people enjoying a long weekend of talks, performances, and workshops on everything from blacksmithing to biometrics, chiptunes to computer security, high altitude ballooning to lockpicking, origami to democracy, and online privacy to knitting.</p>
     
        <p class="box h6">
            <img class="icon float outside-leaning-polygon" width="100" height="100" src="/source/assets/icons/hearing-loop.svg" alt="Hearing loop enabled venue.">
            This festival features hands-on immersive musical installations and interactive exhibits in tents.
        </p>
    </article>

    <!-- Description & Event details -->
    <aside id="details" class="">
        
        <figure class="full-width bg-clear" role="figure" aria-label="">
            
            <figcaption id="button-cast-spell-caption">ElectroMagnetic Fields Festival 2024 Details</figcaption>

            <button 
                aria-labelledby="button-cast-spell-caption"
                type="button" 
                id="button-cast-spell">
                <img 
                    loading="lazy"
                    width="909" height="909"
                    src="/source/assets/figures/instant-musical-superpowers-red-square.svg" 
                    alt="Instant Musical Superpowers!">
                <audio 
                    id="audio-spell" 
                    src="/source/assets/audio/fx/spells/magic-mallet-6262.mp3" preload="auto"></audio>
            </button>
        
            <dl class="data-address">
                <dt>Start</dt>
                <dd><time datetime="2024-07-01 09:00">July 16<sup>th</sup>, 2024</time></dd>

                <dt>End</dt>
                <dd><time datetime="2024-07-06 09:00">July 19<sup>th</sup>, 2024</time></dd>

                <dt>Venue</dt>
                <dd>Eastnor Castle Deer Park, Eastnor, UK</dd>

                <dt>Address</dt>
                <dd class="address">
                    <a href="https://www.emfcamp.org/">
                        <address>
                            <span class="street-address">Eastnor Castle Deer Park</span><span class="delimiter">, </span><span class="locality">Eastnor</span><span class="delimiter">, </span><span class="postal-code"></span><span class="delimiter">, </span><span class="country-name">United Kingdom</span>
                        </address>
                    </a>
                </dd>
    
                <dt>Location</dt>
                <dd><a href="#venue">Eastnor Castle Deer Park, Eastnor, UK</a></dd> 

                <dt>Category</dt>
                <dd>Festival</dd>
            </dl>
        
        </figure>
    
    </aside>


    
    <!-- Venue -->
    <article id="venue" class="page">
        <header>
            <h4>Located in a gorgeous deer sanctuary</h4>
        </header>

        <p>
            The 
        </p>

        <include 
            src="./source/partials/map.html" 
            locals='{ 
                "venue":   "ElectroMagnetic Fields Festival",
                "frame":   "https://www.openstreetmap.org/export/embed.html?bbox=2.396950809417868%2C52.02417832534642%2C-2.3801494521485815%2C52.03262778340489&amp;layer=mapnik",
                "link":    "https://www.openstreetmap.org/#map=16/52.02840/-2.38855",
                "address": ", United Kingdom"
            }'>
        </include>
        
        <a href="https://www.emfcamp.org/" class="cta">Learn more at the official ElectroMagnetic Fields Website</a>
            
    </article>

      
</section>