<section id="event" class="sawtooth shadow" data-observe >
    
    <!-- Event ------------------------------------------- -->
    <article id="summary" class="page split" data-readable>

        <header class="underline">
            <h3 class="heading-icon">Beyond 2025</h3>
            <h4>Ever dreamed of being more musical?<br>Well alright... Hold tight!</h4>
        </header>

        <p>
            BEYOND 2024 comes from MediaCity, Salford where the last decade has seen a transformation of Greater Manchester’s creative economy into a cornerstone of the north west’s economic and cultural identity.

            This year, MediaCity’s story, set against the backdrop of a new era in UK government, will serve as a launch pad to explore the innovative potential of Creative Cities.

            BEYOND will dive into the essence of what makes a world-leading creative city with compelling stories  from the UK and around the world. Discover the different catalysts used to build and nurture these creative ecosystems. We’ll explore the essential building blocks and the game plans that have brought creative cities to life, we’ll hear how innovation can flourish, and how technology will shape our future city regions. We’ll delve into the vital roles of our creative networks, hubs, cultural and research institutions, talent pipelines, networks, policy and culture.

            We will look at the rise of cities in new places, and at those with big creative futures, examining how creativity will help face down the challenges of change. We’ll hear propositions for how creativity in cities will respond to the fast pace of population, environmental, and technological change.

            This year, BEYOND’s largest ever showcases will feature cutting-edge prototype projects and innovative R&D in the Immersive Futures Lab, alongside a new addition, the Creative R&D Expo, with the latter highlighting innovation from the full breadth of the creative industries.

            The Immersive Futures Lab will allow visitors to experience innovative projects that use Virtual Reality, Spatial Audio, Augmented Reality, AI and Machine Learning, FashionTech, MusicTech, MedTech, Sustainability & EcoTech, CreaTech, Mixed Reality, Games Engines, XR and more, in their creation.

            Join thinkers, makers, investors, policymakers and researchers from across the creative industries at MediaCity, Salford, for this very special conference.
        </p>

        <p class="box h6">
            <img class="icon float outside-leaning-polygon" width="100" height="100" src="/source/assets/icons/hearing-loop.svg" alt="Hearing loop enabled venue.">
            The exhibition will feature an interactive installation, hands-on demonstrations, musical performances, a DJ and talks.
        </p>

    </article>

    <!-- Description & Event details -->
    <aside id="details" class="">
        
        <figure class="full-width bg-clear" role="figure" aria-label="">
            
            <figcaption id="button-cast-spell-caption">Summer Science Exhibition 2025 Details</figcaption>

            <button 
                aria-labelledby="button-cast-spell-caption"
                type="button" 
                id="button-cast-spell">
                <img 
                    loading="lazy"
                    width="909" height="909"
                    src="/source/assets/figures/instant-musical-superpowers-red-square.svg" 
                    alt="Instant Musical Superpowers!">
                <audio 
                    id="audio-spell" 
                    src="/source/assets/audio/fx/spells/magic-mallet-6262.mp3" preload="auto"></audio>
            </button>
        
            <dl class="data-address">
                <dt>Start</dt>
                <dd><time datetime="2024-11-25 09:00">November 25<sup>th</sup>, 2024</time></dd>

                <dt>End</dt>
                <dd><time datetime="2024-11-27 20:00">November 27<sup>th</sup>, 2024</time></dd>

                <dt>Venue</dt>
                <dd>Media City, Salford</dd>

                <dt>Address</dt>
                <dd class="address">
                    <a href="https://www.mediacityuk.co.uk/visit-us/">
                        <address>
                            <span class="street-address">Media City</span><span class="delimiter">, </span><span class="locality">Salford</span><span class="delimiter">, </span><span class="postal-code">M50 2EQ</span><span class="delimiter">, </span><span class="country-name">United Kingdom</span>
                        </address>
                    </a>
                </dd>
    
                <dt>Location</dt>
                <dd><a href="#venue">Media City, Salford</a></dd> 

                <dt>Category</dt>
                <dd>Conference</dd>
            </dl>
        
        </figure>
    
    </aside>

    <article id="venue" class="page">
        
        <header>
            <h4>Located at Media City, Salford</h4>
        </header>

        <p>
            
        </p>

        <include 
            src="./source/partials/map.html" 
            locals='{ 
                "venue":   "Media City Salford",
                "frame":   "https://www.openstreetmap.org/export/embed.html?bbox=-2.302418947219849%2C53.47143865829802%2C-2.2940182685852055%2C53.47552553643018&amp;layer=mapnik",
                "link":    "https://www.openstreetmap.org/?#map=17/53.473484/-2.298220",
                "address": "Media City, Salford, M50 2EQ, United Kingdom"
            }'>
        </include>

        <details>
            <summary><h6>Getting there</h6></summary>
            <p>
               
            </p>
        </details>

        <a href="https://beyondconference.org/" class="cta">Learn more at the official Beyond Conference website</a>
        
    </article>
</section>