<section id="faq" class="shadow wavey" data-observe>
    <article class="page">
        
        <header>
            <h3 class="heading-icon">Frequently Asked Questions, FAQ</h3>
            <h4>Answers to common questions</h4>
        </header>
    
        <details name="questions">
            <summary><h5>What else can we expect</h5></summary>
            <p>
            Apart from showcasing some exciting music technology from the AMIC, including the PhotoSYNTH and mi mu gloves, you might see some members of the London Philharmonic Orchestra, perhaps even a pop star or two! It always pays to expect the unexpected though, and there will be more surprises announced closer to the event.
            </p>
        </details>
    
        <details name="questions">
            <summary><h5>What are Mi Mu gloves?</h5></summary>
            <p>
            Mi Mu gloves are special handworn controllers that allow you to interface with music technology using your hands and arms.
            <a rel="noopener noreferrer" target="_blank" href="https://mimugloves.com/">See their official website</a>       
            </p>
        </details>

        <details name="questions">
            <summary><h5>Why Disabled rather than disabled?</h5></summary>
            <p>
            Using the word ‘Disabled’ before ‘people’ signifies identification with a collective cultural identity and capitalising the ‘D’ emphasises the term’s political significance. Using the term ‘Disabled people’ or ’Disabled person’ is therefore a political description of the shared, disabling experience that people with impairments face in society. It brings together a diverse group of people and helps to identify the causes of our discrimination and oppression, communicate shared experience and knowledge, and create social change.
            </p>
        </details>

        <details name="questions">
            <summary><h5>Where can I learn more about the research?</h5></summary>
            <p>
            There are a number of research papers written about this topic including :
            </p>
            <ul role="list">
                <li><a rel="noopener noreferrer" target="_blank" href="https://designerzen.com/assets/papers/photosynth-wac-22.pdf">PhotoSYNTH3 #InterFACE [2022]</a></li>
                <li><a rel="noopener noreferrer" target="_blank" href="https://designerzen.com/assets/papers/photosynth-wac-24.pdf">Instant Musical Superpowers by augmenting intrinsic movements, expressions and emotions [2024]</a></li>
                <li><a rel="noopener noreferrer" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/986301/Human_Augmentation_SIP_access2.pdf">Gov UK - Human Augmentation – The Dawn of a New Paradigm</a></li>
                <li><a rel="noopener noreferrer" target="_blank" href="https://doi.org/10.1037%2Fa0022268">The sound of round: evaluating the sound-symbolic role of consonants in the classic Takete-Maluma phenomenon - Bouba-kiki. Nielsen, Alan; Rendall, Drew [2011].</a></li>
            </ul>
        </details>

        <details name="questions">
            <summary><h5>Cool website! How did you make it?</h5></summary>
            <p>
                This website was designed and created by <a href="https://designerzen.com" target="_blank">designerzen</a> of Awesomething social enterprise.
                Hand coded in HMTL, CSS and Javascript, using Web-Audio and the Web-MIDI APIs and Canvas for some of the visuals.
                <a href="https://github.com/designerzen/photosynth.lol" target="_blank">The source code is available on github</a>
            </p>
        </details>

    </article>
</section>
