<section id="FAQ" class="shadow wavey" data-observe>
    <article class="page">
        
        <header>
            <h3 class="heading-icon">User Feedback</h3>
            <h4>Commentary</h4>
        </header>

        <p>
            If you left this feedback, thanks!
        </p>

        <blockquote class="user-feedback">
            <p>
                Brilliantly weird and weirdly brilliant
            </p>
        </blockquote>

        <blockquote class="user-feedback">
            <p>
                Very nice activity, the kids enjoyed very much
            </p>
        </blockquote>

        <blockquote class="user-feedback">
            <p>
               Very creative approach. My daughter loved experiencing with the sounds
            </p>
        </blockquote>

        <blockquote class="user-feedback">
            <p>
               It made my son entertained, educated and I could bond with him doing something we both enjoyed.
            </p>
        </blockquote>


        <blockquote class="user-feedback">
            <p>
                 It was all new to me and fun.
            </p>
        </blockquote>

        <blockquote class="user-feedback">
            <p>
               It's very creative and interesting. Great for the kids.
            </p>
        </blockquote>

        <blockquote class="user-feedback">
            <p>
               Fun, engaging & informative activity, kept 3 children of diff ages engaged.
            </p>
        </blockquote>

    </article>
</section>