<footer data-observe data-full-keyboard>
    <canvas id="song-in-pixels" inert width="320" height="128"></canvas>

    <article id="affiliates">
        <!-- <h5 class="h3">Brought to you by</h5> -->
        <h5 class="h4 middle">A timely duet between</h5>
    
        <ul role="list">

            <!-- <li><a href="https://www.drakemusic.org/pages-that-are-currently-not-live-on-the-site/instrument-led-projects/photosynth-by-zen-olenski/" -->
            <li><a href="https://www.drakemusic.org/"
                    rel="noopener noreferrer" target="_blank">
                    <figure role="figure" aria-label="" >
                        <figcaption class="sr-only">Drake Music Homepage</figcaption>
                        <img class="logo logo-drake-music" src="/source/assets/logos/drake-square.svg" width="1024" height="1024" alt="Drake Music.">
                    </figure>
                </a>
            </li>

            <li><a href="https://royalsociety.org/"
                    rel="noopener noreferrer" target="_blank">
                    <figure role="figure" aria-label="" >
                        <figcaption class="sr-only">Royal Society Homepage</figcaption>
                        <img class="logo logo-royal-society" src="/source/assets/logos/royal-society-square.svg" width="1024" height="1024" alt="Royal Society.">
                        <!-- <img src="/source/assets/logos/royal_society.svg" alt="Royal Society."> -->
                    </figure>
                    
                </a>
            </li>
            <!-- <li><a href="https://accessiblemusicalinstrumentcollection.org/" rel="noopener noreferrer" target="_blank">
                    <figure role="figure" aria-label="" >
                        <figcaption><small>Available at</small>Accessible Musical Instrument Collection</figcaption>
                        <img src="/source/assets/logos/amic.svg" alt="Accessible Misical Instrument Collection">
                    </figure>
                </a>
            </li> -->
            <!-- <li><a href="https://audienceofthefuture.live/interface/" rel="noopener noreferrer" target="_blank">
                    <figure role="figure" aria-label="" >
                        <figcaption><small>Represented by</small>Audience of the Future</figcaption>
                        <img src="/source/assets/logos/aotf.svg" alt="Audience of the Future">
                    </figure>
                </a>
            </li> -->
        </ul>
    </article>

    <small class="smallprint">
        <i class="emoji">🫰</i>
        <em>Made for humans, by humans, at <a href="https://designerzen.com">designerzen</a> with <span class="awesomething">Awesomething</span>.</em> 
        <br>
        Dedicated to Josefa Olenska and Blue Ramsey.
        <span clas="copyright block">© <span class="current-year">2025</span> 
            <a class="secret-link" href="https://royalsociety.org/">Royal Society</a> & 
            <a class="secret-link" href="https://www.drakemusic.org/">@Drake Music, Accessible Musical Instrument Collection, #DMLab</a>
        </span>
    </small>

</footer>
