<!-- <script locals>
    const image = {
        src: 'https://picsum.photos/200/300',
        alt: 'A random image from Picsum',
        width: 1080,
        height: 920
    }

    const images = [
        image,
        image,
        image,
        image,
        image
    ]

    module.exports = {
        images,
        image,
        title: locals.title || 'Gallery'
    }
</script> -->

<script locals>
    let randomUUID = "id"+Math.random().toString(36).substring(2, 15) + ""
    module.exports = {
       ...locals,
        images: locals.images || [],
        id: locals.id || randomUUID,
        title: locals.title || 'Gallery',
        summary: true
    }
</script>

<section class="gallery" id="{{id}}">

    <h4>{{title}}</h4>

    <details class="gallery-items">

        <summary class="gallery-summary">
            <p>Gallery</p>
            <each loop="image, index in images">
                <if condition="index < 5">
                    <picture 
                        class="thumbnail-image image-{{index}}">
                        <source srcset="{{image.src}}?as=avif&width=42" type="image/avif" />
                        <source srcset="{{image.src}}?as=webp&width=42" type="image/webp" />
                        <source srcset="{{image.src}}?width=42" type="image/jpeg" />
                        <img 
                            id="thumbnail{{id}}image{{index}}"
                            loading="{{image.loading || 'lazy'}}"
                            src="{{image.src}}?width=42" 
                            width="42" 
                            height="{{image.height}}" 
                            data-attribution="{{image.attribution ? image.attribution : ''}}"
                            alt="{{image.alt}}" />
                    </picture>
                </if>
            </each>
        </summary>
        
        <include src="./source/partials/gallery.html" locals='{ "images":images }'></include>

    </details>
    
</section>