<section id="help" class="bg-clear">
    <article class="page shadow wavey bg" data-readable>

        <header class="underline">
            <h3 class="heading-icon">Help</h3>
            <h4>Problem Solving Guide</h4>
        </header>

        <p>
            The PhotoSYNTH is a multiplayer collaborative musical instrument that encourages group play and social interactions. 
            It can be used unmanned, where it will show it's own instructions and help out where it can.
            Also, there is the option of manned cooperative control, where an overseer chooses instruments, tempo and visual modes on a per person basis. 
        </p>

        <p>
            On rare occassions, the software may act unexpectedly. If so, please check out the information below to try and resolve any issues you may be facing. 
            If the issue is not listed below, please contact me using the information in the <a href="#contact">contact panel</a>.
        </p>

        <!-- List of Troubleshooting FAQs -->
        <ul class="faq" role="list">
          
            <li>
                <p class="question">System has hung unexpectedly</p>
                <p class="answer">Close the browser window and restart it</p>
            </li>
             
            <li>
                <p class="question">Multiple cameras connected and the wrong one is used</p>
                <p class="answer">Click the settings button (bottom left in the control panel with a cog icon) and then select the camera from the list. If your camera is not listed, unplug and replug the camera into a different available USB socket. If it doesn't change on first select, try it again as sometimes cameras go to sleep if inactive.</p>
            </li>
            
            <li>
                <p class="question">Audio is crackly or has pops and clicks</p>
                <p class="answer">It may be that your computer simply is not powerful enough to run the software unthrottled. Often laptops when they get too hot restrict the available resources in order to help them cool down, but this takes resources away from the software which results in the audio struggling to keep up with everything. Solutions may include cooling your computer with a heatsink or fan, adding more memory and a stronger GPU and disabling all software running in the background.</p>
            </li>
            
            <li>
                <p class="question">Screen image is blurred and out of focus</p>
                <p class="answer">Camera has likely lost focus and autofocus is not recognising the people. Waving your hands and trying to catch the attention of the camera might kickstart the camera into focussing. If things do not improve, disconnect the USB camera and connect to another USB socket, restarting the browser and rerunning the software.</p>
            </li>

            <li>
                <p class="question">People not being recognised</p>
                <p class="answer">Lighting must be fixed and illuminating with a consistent glow. Sometimes strip lights cycle at frequencies similar to the refresh rates of monitors, if that is the case, the camera will appear to strobe. In these cases, it is best to turn off overhead CEF lights and instead use lighting with a constant illumination such as LED, incandescent or cold lamps.</p>
            </li>

        </ul>

    </article>

</section>    

<include 
    src="./source/partials/contact.html" 
    locals='{ }'>
</include>