<!-- <section id="playback" class="sticky bg-transparent full-height full-width" data-observe>
    <canvas id="song-in-pixels" inert width="320" height="128"></canvas>
</section> -->

<section id="history" class="bg-clear" hidden>
    <article class="page">

        <header>
            <h3 class="heading-icon">The story so far...</h3>
        </header>


        <ul class="gallery">
            
            <li>
                <figure id="photo-holographic-photosynth-emf" class="sticky bumpers" role="figure" aria-label="photo-holographic-photosynth-emf-label">
                    <img loading="lazy" src="/source/assets/photos/emf/alexander-baxevanis.jpg" alt="The Holographic PhotoSYNTH being presented at the Electromagnetic Fields Festival.">
                    <figcaption id="photo-holographic-photosynth-emf-label">
                        Holographic PhotoSYNTH at the Electromagnetic Fields Festival 
                        <br>Photograph by <cite class="attribution">Alexander Baxevanis</cite>
                        <a class="license cc2" href="https://creativecommons.org/licenses/by/2.0/">
                            <!-- <img src="/source/assets/icons/cc-icon.svg" alt="Creative Commons Attribution 2.0 Generic" width="44" height="44"> -->
                            <!-- <img src="/source/assets/icons/cc-icons-person.svg" alt="Creative Commons Attribution 2.0 Generic" width="22" height="22"> -->
                            CC2.0
                        </a>
                    </figcaption>
                </figure>
            </li>

            <li>
                        
                <figure class="sticky bumpers" role="figure" aria-label="">
                    <img loading="lazy" src="/source/assets/photos/gawain-hewitt-photosynth2.png" alt="The PhotoSYNTH version 2 being played by Gawain Hewitt.">
                    <figcaption>Gawain Hewitt playing with the PhotoSYNTH II</figcaption>
                </figure>
            </li>
            
            <li>        
                <figure class="sticky bumpers" role="figure" aria-label="">

                    <picture>
                        <source srcset="/source/assets/photos/emf/emf-photosynth4d.jpg?as=avif&width=1080" type="image/avif" />
                        <source srcset="/source/assets/photos/emf/emf-photosynth4d.jpg?as=webp&width=1080" type="image/webp" />
                        <source srcset="/source/assets/photos/emf/emf-photosynth4d.jpg?width=1080" type="image/jpeg" />
                        <img loading="lazy" src="/source/assets/photos/emf/emf-photosynth4d.jpg?width=1080" alt="The Holographic PhotoSYNTH 4D being played at Electromagnetic Fields." />
                    </picture>
                    <figcaption>Holographic PhotoSYNTH 4D being played at Electromagnetic Fields</figcaption>
                </figure>
            </li>

        </ul>

    </article>

</section>

