<!-- {"src": "/source/assets/photos/event/dcf1361.jpg", "alt": "PhotoSYNTH event candid 1361", "width": 1620, "height": 1080}, -->
<article class="section section-event">
    
    <header>
        <h3>Gallery</h3>
        <h4>IEEE 1st International Meeting of the Musical Metaverse 2024</h4>
    </header>
    
    
    <include 
        src="./source/partials/gallery.html" 
        locals='{ 
            "title":"Event",
            "images":[
           
            ]
        }'>
    </include>
    
    <include 
        src="./source/partials/gallery.html" 
        locals='{ 
            "title":"Venue",
            "images":[
                
            ]
        }'>
    </include>

     <script type="module">
        import {createGallery} from "./assets/scripts/gallery.js"
        createGallery()
    </script>
</article>