<!-- {"src": "/source/assets/photos/event/dcf1361.jpg", "alt": "PhotoSYNTH event candid 1361", "width": 1620, "height": 1080}, -->
<article class="section section-event">
    
    <header>
        <h3>Gallery</h3>
        <h4>Holographic _PhotoSYNTH 4D_</h4>
    </header>

    <include 
        src="./source/partials/gallery.html" 
        locals='{ 
            "title":"Holographic Demonstrations",
            "images":[
                {"src": "/source/assets/photos/emf/Access testing.jpg", "alt": "Accessibility audit", "width": 1024, "height": 768},
                {"src": "/source/assets/photos/emf/Alexander-Baxevanis Photo.jpg", "alt": "Copyright 2024 Alexander-Baxevanis", "width": 1152, "height": 768},
                {"src": "/source/assets/photos/emf/EMF Close Up.jpg", "alt": "Copyright 2024 Alexander-Baxevanis", "width": 1200, "height": 1600},
                {"src": "/source/assets/photos/emf/Graham Dunning Tent Jam.jpg", "alt": "Graham Dunning tent jam", "width": 1440, "height": 1080},
                {"src": "/source/assets/photos/emf/Holographic Setup.jpg", "alt": "Hologoraphic Setup", "width": 3000, "height": 4000},
                {"src": "/source/assets/photos/emf/EMF Photosynth4d.jpg", "alt": "Holographic Setup", "width": 576, "height": 768},
                {"src": "/source/assets/photos/emf/Tent Right Opposite Main Stage.jpg", "alt": "Tent setup opposite main stage", "width": 4000, "height": 3000},
                {"src": "/source/assets/photos/emf/EMF Plaque.jpg", "alt": "Holographic Plaque", "width": 1200, "height": 1600},
                {"src": "/source/assets/photos/emf/EMF Tent Setup.jpg", "alt": "Tent", "width": 1600, "height": 1200}
            ]
        }'>
    </include>

    <script type="module">
        import {createGallery} from "./assets/scripts/gallery.js"
        createGallery()
    </script>
</article>