<!-- {"src": "/source/assets/photos/event/dcf1361.jpg", "alt": "PhotoSYNTH event candid 1361", "width": 1620, "height": 1080}, -->
<article class="section section-event">
    
    <header>
        <h3 class="heading-icon">Science Group Gallery</h3>
        <h4>Science+ Media Museum 2025</h4>
    </header>
    
    <!-- 
        { "src": "/source/assets/photos/science-media-museum/IMG20251030151812.jpg", "alt": "IMG20251030151812" },
        { "src": "/source/assets/photos/science-media-museum/P1180390.jpg", "alt": "P1180390" },
        { "src": "/source/assets/photos/science-media-museum/P1180392.jpg", "alt": "P1180392" },
        { "src": "/source/assets/photos/science-media-museum/P1180393.jpg", "alt": "P1180393" },
        { "src": "/source/assets/photos/science-media-museum/P1180397.jpg", "alt": "P1180397" },
        { "src": "/source/assets/photos/science-media-museum/P1180398.jpg", "alt": "P1180398" },
        { "src": "/source/assets/photos/science-media-museum/P1180399.jpg", "alt": "P1180399" },
        { "src": "/source/assets/photos/science-media-museum/P1180401.jpg", "alt": "P1180401" },
        { "src": "/source/assets/photos/science-media-museum/P1180415.jpg", "alt": "P1180415" },
        { "src": "/source/assets/photos/science-media-museum/P1180416.jpg", "alt": "P1180416" },
        { "src": "/source/assets/photos/science-media-museum/P1180417.jpg", "alt": "P1180417" },
        { "src": "/source/assets/photos/science-media-museum/P1180420.jpg", "alt": "P1180420" },
        { "src": "/source/assets/photos/science-media-museum/P1180443.jpg", "alt": "P1180443" },
        { "src": "/source/assets/photos/science-media-museum/P1180496.jpg", "alt": "P1180496" },
        { "src": "/source/assets/photos/science-media-museum/P1180502.jpg", "alt": "P1180502" },
        { "src": "/source/assets/photos/science-media-museum/P1180524.jpg", "alt": "P1180524" },
        { "src": "/source/assets/photos/science-media-museum/P1180529.jpg", "alt": "P1180529" },
        { "src": "/source/assets/photos/science-media-museum/P1180535.jpg", "alt": "P1180535" },
        { "src": "/source/assets/photos/science-media-museum/P1180573.jpg", "alt": "P1180573" },
        { "src": "/source/assets/photos/science-media-museum/P1180575.jpg", "alt": "P1180575" },
        { "src": "/source/assets/photos/science-media-museum/P1180579.jpg", "alt": "P1180579" },
    -->
    <include 
        src="./source/partials/gallery.html" 
        locals='{ 
            "id":"media-science-media-museum",
            "title":"Science+ Media Event",
            "images":[
                { "src": "/source/assets/photos/science-media-museum/Bradford Altar Accessible Instruments.jpg", "alt": "Bradford Altar Accessible Instruments", "width": 4000, "height": 3000 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Billy demonstrating the Hi-five synth.jpg", "alt": "Bradford Billy demonstrating the Hi-five synth", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Billy Jam.jpg", "alt": "Bradford Billy Jam", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Blue Dreadlocks.jpg", "alt": "Bradford Blue Dreadlocks", "width": 4000, "height": 3000 },
                { "src": "/source/assets/photos/science-media-museum/Bradford CMPSR and One.jpg", "alt": "Bradford CMPSR and One", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford DIGIT CMPSR.jpg", "alt": "Bradford DIGIT CMPSR", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Duet.jpg", "alt": "Bradford Duet", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Extreme Closup.jpg", "alt": "Bradford Extreme Closup", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Family Jam.jpg", "alt": "Bradford Family Jam", "width": 4000, "height": 3000 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Holographic Synthesizer.jpg", "alt": "Bradford Holographic Synthesizer",  "width": 3000, "height": 4000 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Layout.jpg", "alt": "Bradford Layout", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Lisa Explains.jpg", "alt": "Bradford Lisa Explains", "width": 4592, "height": 3448 },
                { "src": "/source/assets/photos/science-media-museum/Bradford ROLI Piano.jpg", "alt": "Bradford ROLI Piano", "width": 8000, "height": 6000 },
                { "src": "/source/assets/photos/science-media-museum/Bradford Ultrasonic Coatrack.jpg", "alt": "Bradford Ultrasonic Coat-rack", "width": 4592, "height": 3448 },

                { "src": "/source/assets/photos/science-media-museum/Holographic PhotoSYNTH.jpg", "alt": "Holographic PhotoSYNTH", "width": 3000, "height": 4000 },
                { "src": "/source/assets/photos/science-media-museum/Noelle Demo.jpg", "alt": "Noelle Demo", "width": 4592, "height": 3448 },
             
                { "src": "/source/assets/photos/science-media-museum/ROLI Piano.jpg", "alt": "ROLI Piano", "width": 4592, "height": 3448 }
            ]
        }'>
    </include>
    
    <include 
        src="./source/partials/gallery.html" 
        locals='{ 
            "id":"venue-science-musuem",
            "title":"Venue",
            "images":[
                { "src": "/source/assets/photos/science-media-museum/church-wide.jpg", "alt": "Venue Beautiful Church", "width": 4032, "height": 3024 },   { "src": "/source/assets/photos/science-media-museum/church.jpeg", "alt": "church" },
,
                { "src": "/source/assets/photos/science-media-museum/Stained Glass Window.jpg", "alt": "Venues Stained Glass Window", "width": 3448, "height":4592  }
                { "src": "/source/assets/photos/science-media-museum/Bradford Layout.jpg", "alt": "Bradford Layout" }
            ]
        }'>
    </include>
    
     <script type="module">
        import {createGallery} from "./assets/scripts/gallery.js"
        createGallery()
    </script>
</article>