<aside id="midi-equipment" class="shadow" data-observe hidden>
    <hgroup>
        <h5 class=" heading-icon">This site is MIDI enabled for your listening pleasure</h5>
        <p id="midi-status">Connect your MIDI equipment now and <label for="toggle-midi">press the inviting red button.</label></p>
    </hgroup>
    
    <details>
        <summary><h5>Learn more about Web MIDI</h5></summary>
        <img src="/source/assets/photos/midi-on-tv.jpg" alt="MIDI devices being demonstrated on TV"/>
        <p>Musical Instrument Digital Interface or <abbr title="Musical Instrument Digital Interface">MIDI</abbr>, is the universal language of synths and electronic musical instruments. It is the main standard for communication between electronic musical devices using either a MIDI cable or, if your instruments supports it, USB cables.</p>
        <p>If you have any MIDI equipment, connect them now and 
            <label for="toggle-midi">press the enable MIDI button.</label>
        </p>
        <p>Any MIDI equipment will both control the instruments on this site, as well as be controlled by them. All MIDI channels are targeted.</p>
        <p>Learn more about MIDI on the <a href="https://midiorg">MIDI Associate homepage.</a></p>
    </details>

    <label for="toggle-midi" hidden>
        Enable and disable MIDI connection
        <input type="checkbox" id="toggle-midi" value="midi" class="cta">
    </label>

</aside>
