<nav>
    <a href="index.html">Back to the main page</a>
    <a href="sitemap.html">Back to the sitemap</a>
    <a href="about.html">About</a>
    <a href="venue.html">Venue</a>
    <a href="holographic.html">Holographic Info</a>
    <a href="profile.html">Profile</a>
    <a href="poster.html">Poster</a>
    <a href="troubleshooting.html">Help</a>

    <a href="event.html">Event</a>

    <a href="science-media-museum.html">Science+Media Event</a>
    <a href="v&a.html">Victoria & Albert Event</a>
    <a href="royal-society.html">Royal Society Event</a>
    <a href="adc.html">ADC Event</a>
    <a href="ieee.html">IEEE 2024</a>
    <a href="emf.html">ElectroMagnetic Fields 2024</a>
    <a href="wac.html">WAC Event 2022</a>

    <a href="404.html">404</a>
    
    <a href="test.html">Test Page</a>
    <a href="https://github.com/drakemusic/photosynth.lol">GitHub repository featuring the source code</a>
</nav>