<script locals>
    locals.path = locals.path ?? ''
</script>

<nav class="menu-main">
    <ul role="list">
        <li><a href="{{path}}#introduction">About</a></li>
        <li><a href="{{path}}#event">Event</a></li>
        <li><a href="{{path}}#science">Science</a></li>
        <li><a href="{{path}}#research">Research</a></li>
        <li><a href="{{path}}#laboratory">Lab<span class="expansion">oratory</span></a></li>
        <li><a href="{{path}}#faq">FAQ</a></li>
        <!-- <li><a href="/#history">History</a></li> -->
    </ul>
</nav>