<script locals>
    module.exports = {
       ...locals,
        cta: false
    }
</script>

<section id="teaser" class="shadow wavey" data-observe>
    <article class="split page bg" data-readable>
    
        <header>
            <h3 class="underline heading-icon">Introducing the <cite>Photo<wbr>SYNTH</cite>, the happiest way to make music!</h3>
        </header>

        <p>The smile powered synthesizer that grants you and your friends radical new musical superpowers.</p>
        <p>This magic mirror tracks your movements, moods and expressions and converts them into music — giving your reflection a musical purpose!</p> 
        <p>It is fun and easy to make a musical masterpiece, especially if you collaborate with friends.</p>  
        <p>Rather than playing a musical instrument, this musical instrument plays you!</p>
        
        <p>Designed from the ground up to be the most accessible musical instrument possible with the sole intention of empowering everybody to make lovely music! <em>Express yourself!</em></p>
        
        <blockquote class="viewport-height">
            <p class="quote">
                Magic Mirror on the wall, 
                <br>who's the fairest of them all?
            </p>
            <!-- <p class="citation">Snow White<cite></cite></p> -->
        </blockquote>
    
        <p>Without any training you can instantly make great music using movements familiar to you. Easy... Like a Sunday morning!</p>
        <p>Created alongside <a href="https://drakemusic.org">Drake Music Charity</a>, specialists in accessible technology, and with the help &amp; guidance of hundreds of differently-abled people, this mixed-reality pop music machine will put a smile on your face and make it musical =D</p>

        <if condition="cta === true">
            <a class="cta center" href="https://photosynth.app" target="_blank">Play with it now online!</a>
        </if>

    </article>
    
    <article class="text-scroller-vertical page"> 
        <h5 class="text-scroller-lead">
            The PhotoSYNTH is a        
        </h5>
        <ul role="list">
            <li class="sticky">Collaborative</li>
            <li class="sticky">Multiplayer</li>
            <li class="sticky">Mixed Reality</li>
            <li class="sticky">Sympathetic Synthesizer</li>
            <li class="sticky">Musical Instrument</li>
            <li class="sticky">Science & Research Project</li>
        </ul>
    </article>
    
    <include src="./source/partials/biography.html"></include>

</section>