<section id="retrospective" class="block wavey shadow" data-observe>
                    
    <article class="page split" data-readable>
        
        <header class="underline">
            <h3 class="heading-icon">Retrospective</h3>
            <h4>
               Royal Society Summer Exhibition 2025
            </h4>
        </header>

        <p>The Summer Exhibition was a 6 day event held at the Royal Society over the summer of 2025.</p>
        <p>With over 12,000 visitors to the vvenue, we presented a multi-instrumental, immersive collaborative musical jam, demonstrating some of the instruments from the Accessible Musical Instrument Collection.</p>
      
        <p>In the evenenings, the Royal Society was host to their world-famous famous Soirees, the oldest scientific community meetup in recorded history dating back centuries. At these, notable dignitaries, royalty, scientists, politicians, and other very important people attended.</p>
   
        <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/event/lord_vallance.jpg",
                "width": 1152, 
                "height": 768,
                "caption":"Lord Vallance and Zen Olenski jamming"
            }'>
        </include>
    
        <p>
            Central to the experience was the quartet version of the PhotoSYNTH:Sympathetic Synthesizer. 
            This immediately converted the crowd into musical instruments and their mods into music, 
            which gave a base for the other accessible musical instruments, which included the Orch Lab Touch Trombone and Harp as well as a demonstration from our resident popstar Noelle who demonstrated the Mimu gloves. 
            Working closely with ROLI, we demonstrated the musicasl theory behind the public's sounds using the new ROLI Piano, lighting up the keys as the notes are played.
        </p>
      

        <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/event/img20250706104622.jpg",
                "width": 1440, 
                "height": 1080,
                "caption":"Popstar Family Jam!"
            }'>
        </include>
        <!-- <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/mimu/SSES2__019.jpg",
                "width": 1620, 
                "height": 1080,
                "caption":"Popstar Noelle demonstrating the Mimu Gloves."
            }'>
        </include> -->
        
        <p>
            To encourage and stimulate the public, we had members of the London Symphonic Orchestra LSPO on hand to harminically support and complement the music made b the public. 
            With traditional and beautifully sounding instruments such as the violin, the public jumped at the chance to collaborate!
        </p>
  
        <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/event/dscf1320.jpg",
                "width": 1620, 
                "height": 1080,
                "caption":"London Symphony Orchestra collaborating with the public."
            }'>
        </include>

        <p>
            From a technology point of view, the MIDI protocol, that sends and synchronises musical events, was used to connect all compatible musical instruments, allowing for the public to control the provided hardware (or bring their own). This included a range of analogue synthesizers from KORG and Roland which were entirely face and mood controlled.
            By using the same technology to communicate between all instruments, it simplified the setup and allowed us o experiment with different setups and layouts.
        </p>

        <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/event/img20250706104622.jpg",
                "width": 1440, 
                "height": 1080,
                "caption":"MIDI Equipment and controls."
            }'>
        </include>

        <p>
            The public had the chance to meet and engage with popstar Noelle who was demonstrating to the public the Mimu gloves, a wearable musical instrument that converts your hands into musical controls. 
            Noelle uses these in her live performances.
        </p>
        
        <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/mimu/SSES2__019.jpg",
                "width": 1620, 
                "height": 1080,
                "caption":"Popstar Noelle demonstrating the Mimu Gloves."
            }'>
        </include>

        <p>
            Introducing the public to new ways of making music and accessible musical products was an important step for DMLab and the AMIC. 
            This was the first formal demonstration of the instruments from the AMIC that is not in the capacity of a music access event. 
            The Summer Exibition is a legendary public science show that has been running for a very long time, and this was their first foray into the world of accessible music technology, but definitely not their last!
            The Royal Society Summer Exhibition shows the very best and most interesting technology and science, and to be featured alongside some of the most cutting edge research, developments and the incredible work of universsities from all over the country is reassuring for our own research and inspires confidence that the public recognises and is rallying behind our work.
        </p>

        <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/venue/Froggy - 2025-07-13 - Accessible Entrance.jpg",
                "width": 1200, 
                "height": 1680,
                "caption":"Access was a primary concern."
            }'>
        </include>

        <p>
            Accessibility was a primary factor when producing this event. The Royal Society is already extremely vigilant and caring with the needs of the public so working together allowed us to audit the premises, establish what was possible and what was still required. 
            By working directly with the team, we were able to confidently put on an event with a full understanding of access potential and offered advice for ways to improve inclusivity.
        </p>

        <include 
            src="./source/partials/figure.html"
            locals='{
                "src":"/source/assets/photos/event/dscf1431.jpg",
                "width": 1620, 
                "height": 1080,
                "caption":"Hardware Solo Acid Jam."
            }'>
        </include>


        <div class="flood box vertical bumpers">
            <h6>Summary</h6>
            <ul role="list">
                <li><p>Demonstrated the quartet version of the PhotoSYNTH collaborative musical instrument with the public.</p></li>
                <li><p>12,000 visitors over 6 days, including groups from schools all over the UK and special guests from Lords and heroes to pop stars and dee jays.</p></li>
                <li><p>Presented numerous accessible and inclusive musical instruments to the public including bespoke orchestral instruments.</p></li>
                <li><p>Showcased accessible and inclusive standards for public events then released them open source.</p></li>
                <li><p>Met hundreds of members of the public and received much feedback and support as well as unrealised potentials and overlooked implementations. Public feedback is essential as part of the process.</p></li>
                <li><p>Featured on the BBC for a program called, "Emotions from Music", where the concepts of accessible instrument and inclusivity is addressed.</p></li>
                <li><p>Interviewed with New Scientist magazine regarding the science behind the "Sympathetic Synthesizer".</p></li>
                <li><p>Press features on the radio, in magazines and nationwide newspapers.</p></li>
                <li><p>Introduced many members of the public to new ways to play music and new instruments to aspire towards.</p></li>
                <li><p>Broke down barriers with smile powered music that converts the public into friendly musical instruments.</p></li>
                <li><p>Analysed the data generated by the public for the next stages of product development - their feedback and criticisms especially.</p></li>
            </ul>
        </div>
        
        <details class="equipment">
            <summary>Equipment & Technical Setup</summary>
            
            <figure class="diagram diagram-equipment">
                <img 
                    loading="lazy"
                    src="/source/assets/diagrams/royal-society-diagram-installation-hologram.svg" 
                    width="2400" 
                    height="1350" 
                    alt="Equipment setup diagram" />
                <figcaption>Equipment setup and connections diagram</figcaption>
           
                <h6>Equipment List</h6>
                <ul role="list">
                    <li>USB-C MIDI Adapter</li>
                    <li>Four way MIDI Splitter</li>
                    <li>Hearing Loop</li>
                    <li>Shure SM58 Microphone</li>
                    <li>Ecler audio mixer</li>
                    <li>OHM Loudspeakers & Amplifier</li>
                    <li>Roland SBX-1</li>
                    <li>ROLI Piano</li>
                    <li>KORG Volva Beats</li>
                    <li>KORG Volva Keys</li>
                    <li>KORG Volva FM</li>
                    <li>KORG Volva Bass</li>
                    <li>Roland TB303</li>
                    <li>Roland TB303 DevliFish</li>
                    <li>Teenage Engineering OP-1</li>
                    <li>Streamdeck Controller</li>
                    <li>Streamdeck Foot pedal</li>
                    <li>Apple Mac Mini M4</li>
                    <li>Game controllers</li>
                    <li>MIDI, Audio & Network Cables</li>
                </ul>
            </figure>

        </details>
    
    </article>
        
    <!-- Gallery -->
    <include src="./source/partials/media-royal-society.html"></include>
    
</section>