:root{
    --font-family-metropolis: "proxima-nova", 'Metropolis', "Helvetica", sans-serif;
}

// LIGHT -------------------------------------------
@font-face {
    font-family:"Metropolis";
    src: url('/source/assets/fonts/metropolis/Metropolis-Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: lighter;
}

@font-face {
    font-family:"Metropolis";
    src: url('/source/assets/fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: lighter;
}


// REGULAR -------------------------------------------
@font-face {
    font-family:"Metropolis";
    src: url('/source/assets/fonts/metropolis/Metropolis-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family:"Metropolis";
    src: url('/source/assets/fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}


// BOLD -------------------------------------------
@font-face {
    font-family:"Metropolis"; 
    src: url('/source/assets/fonts/metropolis/Metropolis-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:"Metropolis"; 
    src: url('/source/assets/fonts/metropolis/Metropolis-BoldItalic.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}


// EXTRA BOLD -------------------------------------------
@font-face {
    font-family:"Metropolis"; 
    src: url('/source/assets/fonts/metropolis/Metropolis-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: bolder;
}

@font-face {
    font-family:"Metropolis"; 
    src: url('/source/assets/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2') format('woff2');
    font-display: swap;
    font-weight: bolder;
    font-style: italic;
}