@font-face {
    font-family: 'noto-emoji';
    src: url('/source/assets/fonts/noto-emoji/NotoEmoji-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'noto-music';
    src: url('/source/assets/fonts/noto-music/NotoMusic-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
