@font-face {
    font-family: 'Oxanium';
    src: url('/source/assets/fonts/oxanium/Oxanium[wght].ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

// @font-face {
//     font-family: 'Oxanium-Bold';
//     src: url('/source/assets/fonts/oxanium/Oxanium[wght].ttf') format('truetype');
//     font-style: bold;
//     font-display: swap;
// }